<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- css -->
  <link rel="stylesheet" href="js/element-2.4.11/theme-chalk/index.css">
  <link rel="stylesheet" href="css/fontawesome5.6.3/css/all.css">
  <link rel="stylesheet" href="css/index.css">
</head>
<body class="animated fadeIn">
  <div id="app">
  
  	<div v-show="!preloading" class="el-loading-mask" style="background-color: rgba(255,255,255,1);">
	   <div class="el-loading-spinner">
	    <i class="fa fa-spinner fa-pulse"></i>
 	    <p class="el-loading-text">Loading...</p>
	   </div>
    </div>
    
    <section style="padding: 20px;" v-show="preloading">
		<!-- filter -->
		<el-row>
		<el-col :span="24" class="toolbar" style="padding-bottom: 0px;">
			<el-col :span="24">
			<el-tabs value="filter" >
			    <el-tab-pane label="筛选" name="filter" disabled>
			    <el-form size="mini" :inline="true" :model="filters" style="float: right;">
					<el-form-item>
						  <el-input v-model="filters.sAid_NO" placeholder="请输入航标编码" clearable></el-input>
					</el-form-item>
					<el-form-item>
					    <el-select v-model="filters.sAid_Type" placeholder="航标种类">
						    <el-option
						      v-for="item in aidTypeOptions"
						      :key="item.value"
						      :label="item.name"
						      :value="item.value">
						    </el-option>
					    </el-select>
					</el-form-item>
					<el-form-item>
					    <el-select v-model="filters.sAid_Station" placeholder="归属航标站">
						    <el-option
						      v-for="item in stationOptions"
						      :key="item.value"
						      :label="item.name"
						      :value="item.value">
						    </el-option>
					    </el-select>
					</el-form-item>
					<el-form-item>
						<el-button type="primary" title="查询" @click="query" icon="fa fa-search"></el-button>
						<el-button @click="reset"  title="重置" icon="fas fa-redo"></el-button>
						&nbsp;&nbsp;&nbsp;&nbsp;
						<el-button type="primary" title="导入" @click="getImport" icon="fas fa-file-import"></el-button>
						<el-button type="primary" title="导出" @click="getExcel" icon="fas fa-file-export"></el-button>
						&nbsp;&nbsp;&nbsp;&nbsp;
						<el-button type="primary" title="新增" @click="handleAdd" icon="fas fa-plus"></el-button>
					</el-form-item>
				</el-form>
			    </el-tab-pane>
		    </el-tabs>
				
			</el-col>
		</el-col>
		</el-row>
		
	    <el-tabs v-model="activeTab" >
		    <el-tab-pane label="结果" name="table" disabled>
				<!-- list -->
				<el-table size="mini" :data="list" highlight-current-row border v-loading="listLoading" @selection-change="selsChange" style="width: 100%;" class="mytable" >
					<el-table-column label="ID" prop="sAid_ID" width="120" fixed="left">
					</el-table-column>
					<el-table-column label="航标编码" prop="sAid_NO" fixed="left">
					</el-table-column>
					<el-table-column label="航标名称" prop="sAid_Name" fixed="left">
					</el-table-column>
					<el-table-column label="NFC标签" prop="sAid_NfcID" fixed="left">
					</el-table-column>
					<el-table-column label="纬度" prop="lAid_Lat" >
					</el-table-column>
					<el-table-column label="经度" prop="lAid_Lng" >
					</el-table-column>
					<el-table-column label="归属航标站" prop="sAid_Station" :formatter="stationFormatter">
					</el-table-column>
					<el-table-column label="航标种类" prop="sAid_Type" :formatter="aidTypeFormatter">
					</el-table-column>
					<el-table-column label="航标图标" prop="sAid_Icon">
					</el-table-column>
					<el-table-column label="灯质明灭" prop="sAid_Lighting" :formatter="lightFormatter">
					</el-table-column>
					<el-table-column label="航标设置" prop="sAid_Mark" :formatter="markFormatter">
					</el-table-column>
					<el-table-column label="创建日期" prop="dAid_CreateDate" :formatter="(r,c) => {return formatDate(r.dAid_CreateDate);}">
					</el-table-column>
					<el-table-column label="始建时间" prop="dAid_BuildDate" :formatter="(r,c) => {return formatDate(r.dAid_BuildDate);}">
					</el-table-column>
					<el-table-column label="撤除时间" prop="dAid_DelDate" :formatter="(r,c) => {return formatDate(r.dAid_DelDate);}">
					</el-table-column>
					<el-table-column fixed="right" label="操作" width="100" align="center">
						<template scope="scope">
							<el-dropdown>
							  <el-button type="primary" size="mini">
							   	<i class="fas fa-cog"></i>
							  </el-button>
							  <el-dropdown-menu slot="dropdown">
							    <el-dropdown-item @click.native="handleEdit(scope.$index, scope.row)">
							    	<i class="fas fa-edit"></i>&nbsp;编辑
							    </el-dropdown-item>
							    <el-dropdown-item @click.native="handleDelBind(scope.$index, scope.row)" divided :disabled="scope.row.sAid_NfcID ? false : true ">
							    	<i class="fas fa-unlink"></i>&nbsp;解绑
							    </el-dropdown-item>
							    <el-dropdown-item @click.native="handleBind(scope.$index, scope.row)" :disabled="scope.row.sAid_NfcID ? true : false ">
							    	<i class="fas fa-link"></i>&nbsp;绑定
							    </el-dropdown-item>
							    <el-dropdown-item @click.native="handleDel(scope.$index, scope.row)" divided style="color: #f56c6c;">
							    	<i class="fas fa-trash-alt"></i>&nbsp;删除
							    </el-dropdown-item>
							  </el-dropdown-menu>
							</el-dropdown>
						</template>
					</el-table-column>
				</el-table>
		
				<!-- page tool -->
				<el-col :span="24" class="toolbar">
					<!-- <el-button type="danger" @click="batchRemove" :disabled="this.sels.length===0">Batch remove</el-button> -->
					<el-pagination layout="total, sizes, prev, pager, next, jumper" @size-change="handleSizeChange" @current-change="handleCurrentChange" :page-sizes="[10, 20, 50, 100]" :page-size="rows" :total="total" style="float:right;">
					</el-pagination>
				</el-col>
			</el-tab-pane>
		  </el-tabs>
		
		
		<!-- add -->
		<el-dialog title="新增" :visible.sync="addFormVisible" :close-on-click-modal="false">	
			<el-form size="mini" :model="addForm" :rules="addFormRules" ref="addForm" label-width="120px">
			  <el-form-item label="航标编码" prop="sAid_NO">
			    <el-input v-model="addForm.sAid_NO"></el-input>
			  </el-form-item>
			  <el-form-item label="航标名称" prop="sAid_Name">
			    <el-input v-model="addForm.sAid_Name"></el-input>
			  </el-form-item>
			  <el-form-item label="航标纬度" prop="lAid_Lat">
			    <el-input v-model="addForm.lAid_Lat"></el-input>
			  </el-form-item>
			  <el-form-item label="航标经度" prop="lAid_Lng">
			    <el-input v-model="addForm.lAid_Lng"></el-input>
			  </el-form-item>
			  <el-form-item label="归属航标站" prop="sAid_Station">
			    <el-select v-model="addForm.sAid_Station" placeholder="请选择归属航标站">
				    <el-option
				      v-for="item in stationOptions"
				      :key="item.value"
				      :label="item.name"
				      :value="item.value">
				    </el-option>
			    </el-select>
			  </el-form-item>
			  <el-form-item label="始建时间" prop="dAid_BuildDate">
			    <el-date-picker
			      v-model="addForm.dAid_BuildDate"
			      type="datetime"
			      value-format="timestamp"
			      placeholder="选择日期时间">
			    </el-date-picker>
			  </el-form-item>
			  <el-form-item label="撤除时间" prop="dAid_DelDate">
			    <el-date-picker
			      v-model="addForm.dAid_DelDate"
			      type="datetime"
			      value-format="timestamp"
			      placeholder="选择日期时间">
			    </el-date-picker>
			  </el-form-item>
			  <el-form-item label="航标种类" prop="sAid_Type">
			    <el-select v-model="addForm.sAid_Type" placeholder="请选择航标种类">
				    <el-option
				      v-for="item in aidTypeOptions"
				      :key="item.value"
				      :label="item.name"
				      :value="item.value">
				    </el-option>
			    </el-select>
			  </el-form-item>
			  <el-form-item label="灯质明灭" prop="sAid_Lighting">
			    <el-select v-model="addForm.sAid_Lighting" placeholder="请选择灯质明灭">
				    <el-option
				      v-for="item in lightOptions"
				      :key="item.value"
				      :label="item.name"
				      :value="item.value">
				    </el-option>
			    </el-select>
			  </el-form-item>
			  <el-form-item label="航标设置" prop="sAid_Mark">
			    <el-select v-model="addForm.sAid_Mark" placeholder="请选择航标设置">
				    <el-option
				      v-for="item in markOptions"
				      :key="item.value"
				      :label="item.name"
				      :value="item.value">
				    </el-option>
			    </el-select>
			  </el-form-item>
			</el-form>
			<div slot="footer" class="dialog-footer">
				<el-button size="mini" @click="addClose">取消</el-button>
				<el-button size="mini" type="primary" @click="addSubmit" :loading="addLoading">提交</el-button>
			</div>
		</el-dialog>
		
		<!-- edit -->
		<el-dialog title="编辑" :visible.sync="editFormVisible" :close-on-click-modal="false">
			<el-form size="mini" :model="editForm" :rules="editFormRules" ref="editForm" label-width="120px">
				<el-form-item label="航标编码" prop="sAid_NO">
			    <el-input v-model="editForm.sAid_NO"></el-input>
			  </el-form-item>
			  <el-form-item label="航标名称" prop="sAid_Name">
			    <el-input v-model="editForm.sAid_Name"></el-input>
			  </el-form-item>
			  <el-form-item label="航标纬度" prop="lAid_Lat">
			    <el-input v-model="editForm.lAid_Lat"></el-input>
			  </el-form-item>
			  <el-form-item label="航标经度" prop="lAid_Lng">
			    <el-input v-model="editForm.lAid_Lng"></el-input>
			  </el-form-item>
			  <el-form-item label="归属航标站" prop="sAid_Station">
			    <el-select v-model="editForm.sAid_Station" placeholder="请选择归属航标站">
				    <el-option
				      v-for="item in stationOptions"
				      :key="item.value"
				      :label="item.name"
				      :value="item.value">
				    </el-option>
			    </el-select>
			  </el-form-item>
			  <el-form-item label="始建时间" prop="dAid_BuildDate">
			    <el-date-picker
			      v-model="editForm.dAid_BuildDate"
			      type="datetime"
			      value-format="timestamp"
			      placeholder="选择日期时间">
			    </el-date-picker>
			  </el-form-item>
			  <el-form-item label="撤除时间" prop="dAid_DelDate">
			    <el-date-picker
			      v-model="editForm.dAid_DelDate"
			      type="datetime"
			      value-format="timestamp"
			      placeholder="选择日期时间">
			    </el-date-picker>
			  </el-form-item>
			  <el-form-item label="航标种类" prop="sAid_Type">
			    <el-select v-model="editForm.sAid_Type" placeholder="请选择航标种类">
				    <el-option
				      v-for="item in aidTypeOptions"
				      :key="item.value"
				      :label="item.name"
				      :value="item.value">
				    </el-option>
			    </el-select>
			  </el-form-item>
			  <el-form-item label="灯质明灭" prop="sAid_Lighting">
			    <el-select v-model="addForm.sAid_Lighting" placeholder="请选择灯质明灭">
				    <el-option
				      v-for="item in lightOptions"
				      :key="item.value"
				      :label="item.name"
				      :value="item.value">
				    </el-option>
			    </el-select>
			  </el-form-item>
			  <el-form-item label="航标设置" prop="sAid_Mark">
			    <el-select v-model="addForm.sAid_Mark" placeholder="请选择航标设置">
				    <el-option
				      v-for="item in markOptions"
				      :key="item.value"
				      :label="item.name"
				      :value="item.value">
				    </el-option>
			    </el-select>
			  </el-form-item>
			</el-form>
			<div slot="footer" class="dialog-footer">
				<el-button size="mini" @click="editClose">取消</el-button>
				<el-button size="mini" type="primary" @click="editSubmit" :loading="editLoading">提交</el-button>
			</div>
		</el-dialog>
		
		<!-- bind -->
		<el-dialog title="绑定" :visible.sync="bindFormVisible" :close-on-click-modal="false">
			<el-form size="mini" :model="bindForm" :rules="bindFormRules" ref="bindForm" :inline="true">
				<el-form-item label="绑定到" prop="sNfc_ID">
					<el-select v-model="bindForm.sNfc_ID" placeholder="请选择NFC标签" >
						<el-option
					      v-for="item in nfcOptions"
					      :key="item.value"
					      :label="item.name"
					      :value="item.value">
						</el-option>
					 </el-select>
				</el-form-item>
			</el-form>
			<div slot="footer" class="dialog-footer">
				<el-button size="mini" @click="bindClose">取消</el-button>
				<el-button size="mini" type="primary" @click="bindSubmit" :loading="bindLoading">提交</el-button>
			</div>
		</el-dialog>
		
	</section>
  </div>
</body>
  <script src="js/jquery-3.4.1.js" type="text/javascript"></script>
  <script src="js/vue-2.6.10/vue.js" type="text/javascript"></script>
  <script src="js/element-2.4.11/index.js" type="text/javascript"></script>
  <script type="text/javascript" src="js/global.js"></script>
  <script type="text/javascript" src="js/aid.js"></script>
</html>