<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- css -->
  <link rel="stylesheet" href="js/element-2.4.11/theme-chalk/index.css">
  <link rel="stylesheet" href="css/fontawesome5.6.3/css/all.css">
  <link rel="stylesheet" href="css/index.css">
  <style type="text/css">
  	.item_left{
  		float: left; 
  		margin-right: 10px;
  	}
  	.item_right{
  		float: right; 
  		color: #cccccc; 
  		font-size: 12px;
  	}
  	
  	a{
  		text-decoration:none
  	}
  	
  	.main-form {
		position: relative;
		float: left;
		width: 100%;
	}
	
	.main-form>span {
		position: absolute;
		left: 0;
		top: 10px;
		width: 80px;
		font-weight: 700;
		line-height: 24px;
		text-align: right;
	}
	
	.main-form>a {
		position: absolute;
		right: -40px;
		bottom: 10px;
		background: #20A0FF;
		color: #fff;
		text-align: center;
		width: 30px;
		height: 30px;
		line-height: 30px;
		font-size: 26px;
		border-radius: 100%;
	}
	
	.main-container {
		position: relative;
		float: left;
		margin-left: 85px;
		display: inline-block;
		border: dashed 1px #bbb;
		padding: 10px;
	}
	
	.main-container>a {
		position: absolute;
		top: -9px;
		right: -9px;
		width: 18px;
		height: 18px;
		line-height: 18px;
		font-size: 18px;
		background: #20A0FF;
		color: #fff;
		text-align: center;
		border-radius: 100%;
	}
  	
  </style>
</head>
<body class="animated fadeIn body">
  <div id="app">
  
  	<div v-show="!preloading" class="el-loading-mask" style="background-color: rgba(255,255,255,1);">
	   <div class="el-loading-spinner">
	    <i class="fa fa-spinner fa-pulse"></i>
 	    <p class="el-loading-text">Loading...</p>
	   </div>
    </div>
    
    <section class="section" v-show="preloading">
		<!-- filter -->
		<el-row class="filter">
		<el-col :span="24" class="toolbar" style="padding-bottom: 0px;">
			<el-col :span="24">
			<el-tabs value="filter" >
			    <el-tab-pane label="筛选" name="filter" disabled>
			    <el-form size="mini" :inline="true" :model="filters" style="float: right;">
					<el-form-item>
						  <el-input v-model="filters.sAid_NO" placeholder="请输入航标编码" clearable></el-input>
					</el-form-item>
					<el-form-item>
					    <el-select v-model="filters.sAid_Type" placeholder="航标种类">
						    <el-option
						      v-for="item in aidTypeOptions"
						      :key="item.sDict_NO"
						      :label="item.sDict_Name"
						      :value="item.sDict_NO">
						    </el-option>
					    </el-select>
					</el-form-item>
					<el-form-item>
					    <el-select v-model="filters.sAid_Station" placeholder="归属航标站">
						    <el-option
						      v-for="item in stationOptions"
						      :key="item.sDict_NO"
						      :label="item.sDict_Name"
						      :value="item.sDict_NO">
						    </el-option>
					    </el-select>
					</el-form-item>
					<el-form-item>
					    <el-select v-model="filters.sAid_Status" placeholder="航标状态">
						    <el-option
						      v-for="item in statusOptions"
						      :key="item.sDict_NO"
						      :label="item.sDict_Name"
						      :value="item.sDict_NO">
						    </el-option>
					    </el-select>
					</el-form-item>
					<el-form-item>
						<el-button type="primary" title="查询" @click="query" icon="fa fa-search"></el-button>
						<el-button @click="reset"  title="重置" icon="fas fa-redo"></el-button>
						&nbsp;&nbsp;&nbsp;&nbsp;
						<el-button type="primary" title="导入" @click="getImport" icon="fas fa-file-import" ref="import" auth="sys:aid:import" v-show="hasAuth('import')"></el-button>
						<el-button type="primary" title="导出" @click="getExcel" icon="fas fa-file-export" ref="export" auth="sys:aid:export" v-show="hasAuth('export')"></el-button>
						&nbsp;&nbsp;&nbsp;&nbsp;
						<el-button type="primary" title="新增" @click="handleAdd" icon="fas fa-plus" ref="add" auth="sys:aid:add" v-show="hasAuth('add')"></el-button>
					</el-form-item>
				</el-form>
			    </el-tab-pane>
		    </el-tabs>
				
			</el-col>
		</el-col>
		</el-row>
		
	    <el-tabs class="result" v-model="activeTab" >
		    <el-tab-pane label="结果" name="table" disabled ref="query" auth="sys:aid:query" v-show="hasAuth('query')">
				<!-- list -->
				<el-table size="mini" :data="list" highlight-current-row border v-loading="listLoading" @selection-change="selsChange" style="width: 100%;" class="mytable" >
					<el-table-column type="selection" width="55" align="center">
    				</el-table-column>
					<el-table-column label="ID" prop="sAid_ID" fixed="left"  :min-width="tableMaxWidth['1']" class-name="table-drugs-1">
					</el-table-column>
					<el-table-column label="航标编码" prop="sAid_NO" fixed="left" :min-width="tableMaxWidth['2']" class-name="table-drugs-2">
					</el-table-column>
					<el-table-column label="航标名称" prop="sAid_Name" fixed="left" :min-width="tableMaxWidth['3']" class-name="table-drugs-3">
					</el-table-column>
					<el-table-column label="NFC标签" prop="sAid_NfcID" fixed="left" :min-width="tableMaxWidth['4']" class-name="table-drugs-4">
						<template scope="scope">
					        <el-popover trigger="hover" placement="top" v-for="item in nfcAllOptions" v-if="scope.row.sAid_NfcID == item.sNfc_ID">
					          <p>名称: {{ item.sNfc_Name }}</p>
					          <div slot="reference" class="name-wrapper">
					            <el-tag size="mini">{{ item.sNfc_NO }}</el-tag>
					          </div>
					        </el-popover>
					     </template>
					</el-table-column>
					<el-table-column label="航标状态" prop="sAid_Status" :formatter="statusFormatter" :min-width="tableMaxWidth['5']" class-name="table-drugs-5">
					</el-table-column>
					<el-table-column label="纬度" prop="lAid_Lat" :formatter="latFormatter" :min-width="tableMaxWidth['6']" class-name="table-drugs-6">
					</el-table-column>
					<el-table-column label="经度" prop="lAid_Lng" :formatter="lngFormatter" :min-width="tableMaxWidth['7']" class-name="table-drugs-7">
					</el-table-column>
					<el-table-column label="归属航标站" prop="sAid_Station" :formatter="stationFormatter" :min-width="tableMaxWidth['8']" class-name="table-drugs-8">
					</el-table-column>
					<el-table-column label="航标种类" prop="sAid_Type" :formatter="aidTypeFormatter" :min-width="tableMaxWidth['9']" class-name="table-drugs-9">
					</el-table-column>
					<el-table-column label="航标图标" prop="sAid_Icon" :min-width="tableMaxWidth['10']" class-name="table-drugs-10">
						<template scope="scope">
							<div style="width: 45px; height: 45px;" v-for="item in iconOptions" v-if="scope.row.sAid_Icon == item.sDict_NO">
								<img v-if="item.sDict_Picture" :src="'/'+item.sDict_Picture" style="max-width: 100%;max-height: 100%;"/>
							</div>
						</template>
					</el-table-column>
					<el-table-column label="灯质" prop="sAid_Lighting" :formatter="lightFormatter" :min-width="tableMaxWidth['11']" class-name="table-drugs-11">
					</el-table-column>
					<el-table-column label="航标属性" prop="sAid_Mark" :formatter="markFormatter" :min-width="tableMaxWidth['12']" class-name="table-drugs-12">
					</el-table-column>
					<el-table-column label="创建日期" prop="dAid_CreateDate" :formatter="(r,c) => {return formatDate(r.dAid_CreateDate);}" :min-width="tableMaxWidth['13']" class-name="table-drugs-13">
					</el-table-column>
					<el-table-column label="始建时间" prop="dAid_BuildDate" :formatter="(r,c) => {return formatDate(r.dAid_BuildDate);}" :min-width="tableMaxWidth['14']" class-name="table-drugs-14">
					</el-table-column>
					<el-table-column label="撤除时间" prop="dAid_DelDate" :formatter="(r,c) => {return formatDate(r.dAid_DelDate);}" :min-width="tableMaxWidth['15']" class-name="table-drugs-15">
					</el-table-column>
					<el-table-column fixed="right" label="操作" width="100" align="center">
						<template scope="scope">
							<el-dropdown size="mini">
							  <el-button type="primary" size="mini">
							   	<i class="fas fa-cog"></i>
							  </el-button>
							  <el-dropdown-menu slot="dropdown">
							    <el-dropdown-item @click.native="handleEdit(scope.$index, scope.row)" ref="edit" auth="sys:aid:update" v-show="hasAuth('edit')">
							    	<i class="fas fa-edit"></i>&nbsp;编辑
							    </el-dropdown-item>
							    <el-dropdown-item @click.native="handleDelBind(scope.$index, scope.row)" divided :disabled="scope.row.sAid_NfcID ? false : true ">
							    	<i class="fas fa-unlink"></i>&nbsp;解绑NFC
							    </el-dropdown-item>
							    <el-dropdown-item @click.native="handleBind(scope.$index, scope.row)" :disabled="scope.row.sAid_NfcID ? true : false ">
							    	<i class="fas fa-link"></i>&nbsp;绑定NFC
							    </el-dropdown-item>
							    <el-dropdown-item @click.native="handleUser(scope.$index, scope.row)" ref="user" auth="sys:aid:user" v-show="hasAuth('user')">
							    	<i class="fas fa-map-pin"></i>&nbsp;分配用户
							    </el-dropdown-item>
							    <el-dropdown-item @click.native="handleEquip(scope.$index, scope.row)" ref="equip" auth="sys:aid:equip" v-show="hasAuth('equip')">
							    	<i class="fas fa-map-pin"></i>&nbsp;使用器材
							    </el-dropdown-item>
							    <el-dropdown-item @click.native="handleDel(scope.$index, scope.row)" divided style="color: #f56c6c;" ref="delete" auth="sys:aid:delete" v-show="hasAuth('delete')">
							    	<i class="fas fa-trash-alt"></i>&nbsp;删除
							    </el-dropdown-item>
							  </el-dropdown-menu>
							</el-dropdown>
						</template>
					</el-table-column>
				</el-table>
		
				<!-- page tool -->
				<el-col :span="24" class="toolbar">
					<el-button size="mini" type="danger" @click="handleBatchDel" :disabled="this.sels.length===0" ref="delBatch" auth="sys:dict:delete" v-show="hasAuth('delBatch')">批量删除</el-button>
					<el-pagination layout="total, sizes, prev, pager, next, jumper" @size-change="handleSizeChange" @current-change="handleCurrentChange" :page-sizes="[10, 20, 50, 100]" :page-size="rows" :total="total" style="float:right;">
					</el-pagination>
				</el-col>
			</el-tab-pane>
		  </el-tabs>
		
		
		<!-- add -->
		<el-dialog title="新增" :visible.sync="addFormVisible" :close-on-click-modal="false">	
			<el-form size="mini" :model="addForm" :rules="addFormRules" ref="addForm" label-width="120px">
			  <el-form-item label="航标编码" prop="sAid_NO">
			    <el-input v-model="addForm.sAid_NO"></el-input>
			  </el-form-item>
			  <el-form-item label="航标名称" prop="sAid_Name">
			    <el-input v-model="addForm.sAid_Name"></el-input>
			  </el-form-item>
			  <el-form-item label="航标纬度" >
			    <el-input v-model="addForm.lAid_LatDu" style="width:100px;" @keyup.native="handleKeyupLatDu('add')" maxlength=2></el-input>°
			    <el-input v-model="addForm.lAid_LatFen" style="width:100px;" @keyup.native="handleKeyupLatFen('add')" maxlength=2></el-input>′
			    <el-input v-model="addForm.lAid_LatMiao" style="width:100px;" @keyup.native="handleKeyupLatMiao('add')" maxlength=6></el-input>″ N
			  </el-form-item>
			  <el-form-item label="航标经度">
			    <el-input v-model="addForm.lAid_LngDu" style="width:100px;" @keyup.native="handleKeyupLngDu('add')" maxlength=3></el-input>°
			    <el-input v-model="addForm.lAid_LngFen" style="width:100px;" @keyup.native="handleKeyupLngFen('add')" maxlength=2></el-input>′
			    <el-input v-model="addForm.lAid_LngMiao" style="width:100px;" @keyup.native="handleKeyupLngMiao('add')" maxlength=6></el-input>″ E
			  </el-form-item>
			  <el-form-item label="归属航标站" prop="sAid_Station">
			    <el-select v-model="addForm.sAid_Station" placeholder="请选择归属航标站">
				    <el-option
				      v-for="item in stationOptions"
				      :key="item.sDict_NO"
				      :label="item.sDict_Name"
				      :value="item.sDict_NO">
				    </el-option>
			    </el-select>
			  </el-form-item>
			  <el-form-item label="始建时间" prop="dAid_BuildDate">
			    <el-date-picker
			      v-model="addForm.dAid_BuildDate"
			      type="datetime"
			      value-format="timestamp"
			      placeholder="选择日期时间">
			    </el-date-picker>
			  </el-form-item>
			  <el-form-item label="撤除时间" prop="dAid_DelDate">
			    <el-date-picker
			      v-model="addForm.dAid_DelDate"
			      type="datetime"
			      value-format="timestamp"
			      placeholder="选择日期时间">
			    </el-date-picker>
			  </el-form-item>
			  <el-form-item label="航标种类" prop="sAid_Type">
			    <el-select v-model="addForm.sAid_Type" placeholder="请选择航标种类">
				    <el-option
				      v-for="item in aidTypeOptions"
				      :key="item.sDict_NO"
				      :label="item.sDict_Name"
				      :value="item.sDict_NO">
				    </el-option>
			    </el-select>
			  </el-form-item>
			  <el-form-item label="航标图标" prop="sAid_Icon">
			    <el-select v-model="addForm.sAid_Icon" placeholder="请选择航标图标">
				    <el-option
				      v-for="item in iconOptions"
				      :key="item.sDict_NO"
				      :label="item.sDict_Name"
				      :value="item.sDict_NO">
				    </el-option>
			    </el-select>
			  </el-form-item>
			  <el-form-item label="灯质" prop="sAid_Lighting">
			    <el-select v-model="addForm.sAid_Lighting" placeholder="请选择灯质">
				    <el-option
				      v-for="item in lightOptions"
				      :key="item.sDict_NO"
				      :label="item.sDict_Name"
				      :value="item.sDict_NO">
				      <span class="item_left">{{ item.sDict_Name }}</span>
      				  <span class="item_right">{{ item.sDict_Describe }}</span>
				    </el-option>
			    </el-select>
			  </el-form-item>
			  <el-form-item label="航标属性" prop="sAid_Mark">
			    <el-select v-model="addForm.sAid_Mark" placeholder="请选择航标属性">
				    <el-option
				      v-for="item in markOptions"
				      :key="item.sDict_NO"
				      :label="item.sDict_Name"
				      :value="item.sDict_NO">
				    </el-option>
			    </el-select>
			  </el-form-item>
			</el-form>
			<div slot="footer" class="dialog-footer">
				<el-button size="mini" @click="addClose">取消</el-button>
				<el-button size="mini" type="primary" @click="addSubmit" :loading="addLoading">提交</el-button>
			</div>
		</el-dialog>
		
		<!-- edit -->
		<el-dialog title="编辑" :visible.sync="editFormVisible" :close-on-click-modal="false">
			<el-form size="mini" :model="editForm" :rules="editFormRules" ref="editForm" label-width="120px">
				<el-form-item label="航标编码" prop="sAid_NO">
			    <el-input v-model="editForm.sAid_NO"></el-input>
			  </el-form-item>
			  <el-form-item label="航标名称" prop="sAid_Name">
			    <el-input v-model="editForm.sAid_Name"></el-input>
			  </el-form-item>
			  <el-form-item label="航标纬度" >
			    <el-input v-model="editForm.lAid_LatDu" style="width:100px;" @keyup.native="handleKeyupLatDu('edit')" maxlength=2></el-input>°
			    <el-input v-model="editForm.lAid_LatFen" style="width:100px;" @keyup.native="handleKeyupLatFen('edit')" maxlength=2></el-input>′
			    <el-input v-model="editForm.lAid_LatMiao" style="width:100px;" @keyup.native="handleKeyupLatMiao('edit')" maxlength=6 ></el-input>″ N
			  </el-form-item>
			  <el-form-item label="航标经度">
			    <el-input v-model="editForm.lAid_LngDu" style="width:100px;" @keyup.native="handleKeyupLngDu('edit')" maxlength=3></el-input>°
			    <el-input v-model="editForm.lAid_LngFen" style="width:100px;" @keyup.native="handleKeyupLngFen('edit')" maxlength=2></el-input>′
			    <el-input v-model="editForm.lAid_LngMiao" style="width:100px;" @keyup.native="handleKeyupLngMiao('edit')" maxlength=6></el-input>″ E
			  </el-form-item>
			  <el-form-item label="归属航标站" prop="sAid_Station">
			    <el-select v-model="editForm.sAid_Station" placeholder="请选择归属航标站">
				    <el-option
				      v-for="item in stationOptions"
				      :key="item.sDict_NO"
				      :label="item.sDict_Name"
				      :value="item.sDict_NO">
				    </el-option>
			    </el-select>
			  </el-form-item>
			  <el-form-item label="始建时间" prop="dAid_BuildDate">
			    <el-date-picker
			      v-model="editForm.dAid_BuildDate"
			      type="datetime"
			      value-format="timestamp"
			      placeholder="选择日期时间">
			    </el-date-picker>
			  </el-form-item>
			  <el-form-item label="撤除时间" prop="dAid_DelDate">
			    <el-date-picker
			      v-model="editForm.dAid_DelDate"
			      type="datetime"
			      value-format="timestamp"
			      placeholder="选择日期时间">
			    </el-date-picker>
			  </el-form-item>
			  <el-form-item label="航标种类" prop="sAid_Type">
			    <el-select v-model="editForm.sAid_Type" placeholder="请选择航标种类">
				    <el-option
				      v-for="item in aidTypeOptions"
				      :key="item.sDict_NO"
				      :label="item.sDict_Name"
				      :value="item.sDict_NO">
				    </el-option>
			    </el-select>
			  </el-form-item>
			  <el-form-item label="航标图标" prop="sAid_Icon">
			    <el-select v-model="editForm.sAid_Icon" placeholder="请选择航标图标">
				    <el-option
				      v-for="item in iconOptions"
				      :key="item.sDict_NO"
				      :label="item.sDict_Name"
				      :value="item.sDict_NO">
				    </el-option>
			    </el-select>
			  </el-form-item>
			  <el-form-item label="灯质" prop="sAid_Lighting">
			    <el-select v-model="editForm.sAid_Lighting" placeholder="请选择灯质">
				    <el-option
				      v-for="item in lightOptions"
				      :key="item.sDict_NO"
				      :label="item.sDict_Name"
				      :value="item.sDict_NO">
				      <span class="item_left">{{ item.sDict_Name }}</span>
      				  <span class="item_right">{{ item.sDict_Describe }}</span>
				    </el-option>
			    </el-select>
			  </el-form-item>
			  <el-form-item label="航标属性" prop="sAid_Mark">
			    <el-select v-model="editForm.sAid_Mark" placeholder="请选择航标属性">
				    <el-option
				      v-for="item in markOptions"
				      :key="item.sDict_NO"
				      :label="item.sDict_Name"
				      :value="item.sDict_NO">
				    </el-option>
			    </el-select>
			  </el-form-item>
			</el-form>
			<div slot="footer" class="dialog-footer">
				<el-button size="mini" @click="editClose">取消</el-button>
				<el-button size="mini" type="primary" @click="editSubmit" :loading="editLoading">提交</el-button>
			</div>
		</el-dialog>
		
		<!-- bind -->
		<el-dialog title="绑定" :visible.sync="bindFormVisible" :close-on-click-modal="false">
			<el-form size="mini" :model="bindForm" :rules="bindFormRules" ref="bindForm" :inline="true">
				<el-form-item label="绑定到" prop="sNfc_ID">
					<el-select v-model="bindForm.sNfc_ID" placeholder="请选择NFC标签" >
						<el-option
					      v-for="item in nfcOptions"
					      :key="item.sNfc_ID"
					      :label="item.sNfc_NO"
					      :value="item.sNfc_ID">
						</el-option>
					 </el-select>
				</el-form-item>
			</el-form>
			<div slot="footer" class="dialog-footer">
				<el-button size="mini" @click="bindClose">取消</el-button>
				<el-button size="mini" type="primary" @click="bindSubmit" :loading="bindLoading">提交</el-button>
			</div>
		</el-dialog>
		
		
		<!-- user -->
		<el-dialog title="分配用户" :visible.sync="userFormVisible" :close-on-click-modal="false" >
			<el-form size="mini" label-position="top" :model="userForm" :rules="userFormRules" ref="userForm" label-width="120px">
			  <el-form-item>
			  	<!-- <div style="margin: 15px 0;"></div> -->
			    <el-checkbox-group v-model="userForm.user">
			    	<template v-for="(item, index) in userOptions">
					    <el-checkbox border :label="item.sUser_ID" >{{item.sUser_Nick}}</el-checkbox>
			    	</template>
			    </el-checkbox-group>
			  </el-form-item>
			</el-form>
			<div slot="footer" class="dialog-footer">
				<el-button size="mini" @click="userClose">取消</el-button>
				<el-button size="mini" type="primary" @click="userSubmit" :loading="userLoading">提交</el-button>
			</div>
		</el-dialog>
		
		
		<!-- equip -->
		<el-dialog title="使用器材" :visible.sync="equipFormVisible" :close-on-click-modal="false" width="80%">
			<el-form size="mini" :model="equipForm" :rules="equipFormRules" ref="equipForm" :inline="true">
				<el-form-item v-for="(item, index) in equipForm.data" :key="index" style="margin-top: 20px;">
					<div class="main-form">
						<span>序号{{index}}：</span>
						<div class="main-container">
							分类：
							<el-select v-model="item.type" placeholder="请选择" @change="equipTypeChange(item)">
								<el-option v-for="(item2, index2) in item.typeOptions" 
									:key="index2" 
									:label="item2.sDict_Name" 
									:value="item2.sDict_NO">
								</el-option>
							</el-select>
							器材：
							<el-select v-model="item.equip" placeholder="请选择">
								<el-option v-for="(item2, index2) in item.equipOptions" 
									:key="index2" 
									:label="item2.sEquip_NO" 
									:value="item2.sEquip_ID">
								</el-option>
							</el-select>
							<a v-if="index > 0" href="javascript:;" @click="equipRemoveItem(index)">-</a>
						</div>
						<a v-if="index == equipForm.data.length - 1" href="javascript:;" @click="equipAddItem(index)">+</a>
					</div>
				</el-form-item>
				
			</el-form>
			<div slot="footer" class="dialog-footer">
				<el-button size="mini" @click="equipClose">取消</el-button>
				<el-button size="mini" type="primary" @click="equipSubmit" :loading="equipLoading">提交</el-button>
			</div>
		</el-dialog>
		
		<!-- upload -->
		<el-dialog title="导入" width="80%" :visible.sync="uploadVisible" :close-on-click-modal="false">	
			<el-upload class="upload-demo" drag :show-file-list="false"
				:action="importUrl"
				:on-success="handleImportSuccess">
			  <i class="el-icon-upload"></i>
			  <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
			  <div class="el-upload__tip" slot="tip">
			  	<p>表格示例 :</p>
			  	<p>1.支持Excel文件</p>
				<p>2.请上传有标准行列的一维数据表格。（有合并单元格的数据请处理过后再上传，否则可能出现表头识别有误）</p>
				<p>3.日期字段需包含年月日（如2019/1/1），或年月日时分秒。（如2019/1/1 00:00:00）</p>
			  	<el-table size="mini" :data="uploadTemp" highlight-current-row border style="width: 100%;" class="mytable" >
					<el-table-column label="航标名称【文本】" prop="sAid_Name" width="120">
					</el-table-column>
					<el-table-column label="航标编码【文本】" prop="sAid_NO" width="120">
					</el-table-column>
					<el-table-column label="归属航标站【文本】" prop="sAid_Station" width="140">
					</el-table-column>		
					<el-table-column label="航标种类【文本】" prop="sAid_Type" width="120">
					</el-table-column>	
					<el-table-column label="航标图标【文本】" prop="sAid_Icon" width="120">
					</el-table-column>	
					<el-table-column label="始建时间【日期】" prop="dAid_BuildDate" width="120">
					</el-table-column>	
					<el-table-column label="撤除时间【日期】" prop="dAid_DelDate" width="120">
					</el-table-column>	
					<el-table-column label="灯质【文本】" prop="sAid_Lighting" width="120">
					</el-table-column>	
					<el-table-column label="航标属性【文本】" prop="sAid_Mark" width="120">
					</el-table-column>	
					<el-table-column label="NFC标签【文本】" prop="sAid_NfcID" width="120">
					</el-table-column>	
					<el-table-column label="航标状态【文本】" prop="sAid_Status" width="120">
					</el-table-column>	
					<el-table-column label="纬度【文本】" prop="lAid_Lat" width="120">
					</el-table-column>	
					<el-table-column label="经度【文本】" prop="lAid_Lng" width="120">
					</el-table-column>
				</el-table>
				
			  </div>
			</el-upload>
			<div slot="footer" class="dialog-footer">
				<el-button size="mini" @click="importClose">取消</el-button>
			</div>
		</el-dialog>
		
	</section>
  </div>
</body>
  <script src="js/jquery-3.4.1.js" type="text/javascript"></script>
  <script src="js/vue-2.6.10/vue.js" type="text/javascript"></script>
  <script src="js/element-2.4.11/index.js" type="text/javascript"></script>
  <script src="js/browser.min.js" type="text/javascript"></script>
  <script type="text/javascript" src="js/global.js"></script>
  <script type="text/javascript" src="js/aid.js"></script>
</html>