<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- css -->
  <link rel="stylesheet" href="js/element-2.4.11/theme-chalk/index.css">
  <link rel="stylesheet" href="css/fontawesome5.6.3/css/all.css">
  <link rel="stylesheet" href="css/index.css">
  <style type="text/css">
  	.el-checkbox.is-bordered {
	    margin-left: 0px !important;
	    margin-right: 10px !important;
	}
  </style>
</head>
<body class="animated fadeIn">
  <div id="app">
  
  	<div v-show="!preloading" class="el-loading-mask" style="background-color: rgba(255,255,255,1);">
	   <div class="el-loading-spinner">
	    <i class="fa fa-spinner fa-pulse"></i>
 	    <p class="el-loading-text">Loading...</p>
	   </div>
    </div>
    
    <section style="padding: 20px;" v-show="preloading">
		<!-- filter -->
		<el-row>
		<el-col :span="24" class="toolbar" style="padding-bottom: 0px;">
			<el-col :span="24">
			<el-tabs value="filter" >
			    <el-tab-pane label="筛选" name="filter" disabled>
			    <el-form size="mini" :inline="true" :model="filters" style="float: right;">
					<el-form-item>
						  <el-input v-model="filters.sApp_NO" placeholder="请输入应用编码" clearable></el-input>
					</el-form-item>
					<el-form-item>
						  <el-input v-model="filters.sApp_Name" placeholder="请输入应用名称" clearable></el-input>
					</el-form-item>
					<el-form-item>
						<el-button type="primary" title="查询" @click="query" icon="fa fa-search"></el-button>
						<el-button @click="reset"  title="重置" icon="fas fa-redo"></el-button>
						&nbsp;&nbsp;&nbsp;&nbsp;
						<el-button type="primary" title="导入" @click="getImport" icon="fas fa-file-import" ref="import" auth="sys:app:import" v-show="hasAuth('import')"></el-button>
						<el-button type="primary" title="导出" @click="getExcel" icon="fas fa-file-export" ref="export" auth="sys:app:export" v-show="hasAuth('export')"></el-button>
						&nbsp;&nbsp;&nbsp;&nbsp;
						<el-button type="primary" title="新增" @click="handleAdd" icon="fas fa-plus" ref="add" auth="sys:app:add" v-show="hasAuth('add')"></el-button>
					</el-form-item>
				</el-form>
			    </el-tab-pane>
		    </el-tabs>
				
			</el-col>
		</el-col>
		</el-row>
		
	    <el-tabs v-model="activeTab" >
		    <el-tab-pane label="结果" name="table" disabled ref="query" auth="sys:app:query" v-show="hasAuth('query')">
				<!-- list -->
				<el-table size="mini" :data="list" highlight-current-row border v-loading="listLoading" @selection-change="selsChange" style="width: 100%;" class="mytable" >
					<el-table-column label="ID" prop="sApp_ID" fixed="left" :min-width="tableMaxWidth['1']" class-name="table-drugs-1">
					</el-table-column>
					<el-table-column label="应用编码" prop="sApp_NO" fixed="left" :min-width="tableMaxWidth['2']" class-name="table-drugs-2">
					</el-table-column>
					<el-table-column label="应用名称" prop="sApp_Name" fixed="left" :min-width="tableMaxWidth['3']" class-name="table-drugs-3">
					</el-table-column>
					<el-table-column label="应用秘钥" prop="sApp_SecretKey" :min-width="tableMaxWidth['4']" class-name="table-drugs-4">
					</el-table-column>
					<el-table-column label="状态" prop="lApp_StatusFlag"  :formatter="(r,c) => {return r.lApp_StatusFlag ? '启用' : '禁用';}" :min-width="tableMaxWidth['5']" class-name="table-drugs-5">
					</el-table-column>
					<el-table-column label="创建日期" prop="dApp_CreateDate" :formatter="(r,c) => {return formatDate(r.dApp_CreateDate);}" :min-width="tableMaxWidth['6']" class-name="table-drugs-6">
					</el-table-column>
					<el-table-column label="创建者" prop="sApp_UserID" :formatter="userAddFormatter" :min-width="tableMaxWidth['7']" class-name="table-drugs-7">
					</el-table-column>
					<el-table-column fixed="right" label="操作" width="220">
						<template scope="scope">
							<el-button size="mini" @click="handleEdit(scope.$index, scope.row)" ref="edit" auth="sys:app:update" v-show="hasAuth('edit')">编辑</el-button>
							<el-button size="mini" type="primary" @click="handleAuth(scope.$index, scope.row)" ref="auth" auth="sys:group:auth" v-show="hasAuth('auth')">授权</el-button>
							<el-button size="mini" type="danger" @click="handleDel(scope.$index, scope.row)" ref="delete" auth="sys:app:delete" v-show="hasAuth('delete')">删除</el-button>
						</template>
					</el-table-column>
				</el-table>
		
				<!-- page tool -->
				<el-col :span="24" class="toolbar">
					<!-- <el-button type="danger" @click="batchRemove" :disabled="this.sels.length===0">Batch remove</el-button> -->
					<el-pagination layout="total, sizes, prev, pager, next, jumper" @size-change="handleSizeChange" @current-change="handleCurrentChange" :page-sizes="[10, 20, 50, 100]" :page-size="rows" :total="total" style="float:right;">
					</el-pagination>
				</el-col>
			</el-tab-pane>
		  </el-tabs>
		
		
		<!-- add -->
		<el-dialog title="新增" :visible.sync="addFormVisible" :close-on-click-modal="false">	
			<el-form size="mini" :model="addForm" :rules="addFormRules" ref="addForm" label-width="120px">
			  <el-form-item label="应用名称" prop="sApp_Name">
			    <el-input v-model="addForm.sApp_Name"></el-input>
			  </el-form-item>
			  <el-form-item label="应用编码" prop="sApp_NO">
			    <el-input v-model="addForm.sApp_NO">
			    	<el-button slot="append" icon="fas fa-random" @click="handleRandom('addForm', 'sApp_NO')">随机生成</el-button>
			    </el-input>
			  </el-form-item>
			  <el-form-item label="应用秘钥" prop="sApp_SecretKey">
			    <el-input v-model="addForm.sApp_SecretKey">
			    	<el-button slot="append" icon="fas fa-random" @click="handleRandom('addForm', 'sApp_SecretKey')">随机生成</el-button>
			    </el-input>
			  </el-form-item>
			  <el-form-item label="状态" prop="lApp_StatusFlag">
			     <el-switch v-model="addForm.lApp_StatusFlag" :active-value="1" :inactive-value="0"></el-switch>
			  </el-form-item>
			</el-form>
			<div slot="footer" class="dialog-footer">
				<el-button size="mini" @click="addClose">取消</el-button>
				<el-button size="mini" type="primary" @click="addSubmit" :loading="addLoading">提交</el-button>
			</div>
		</el-dialog>
		
		<!-- edit -->
		<el-dialog title="编辑" :visible.sync="editFormVisible" :close-on-click-modal="false">
			<el-form size="mini" :model="editForm" :rules="editFormRules" ref="editForm" label-width="120px">
			  <el-form-item label="应用名称" prop="sApp_Name">
			    <el-input v-model="editForm.sApp_Name"></el-input>
			  </el-form-item>
			  <el-form-item label="应用编码" prop="sApp_NO">
			    <el-input v-model="editForm.sApp_NO">
			    	<el-button slot="append" icon="fas fa-random" @click="handleRandom('editForm', 'sApp_NO')">随机生成</el-button>
			    </el-input>
			  </el-form-item>
			  <el-form-item label="应用秘钥" prop="sApp_SecretKey">
			    <el-input v-model="editForm.sApp_SecretKey">
			    	<el-button slot="append" icon="fas fa-random" @click="handleRandom('editForm', 'sApp_SecretKey')">随机生成</el-button>
			    </el-input>
			  </el-form-item>
			  <el-form-item label="状态" prop="lApp_StatusFlag">
			     <el-switch v-model="editForm.lApp_StatusFlag" :active-value="1" :inactive-value="0"></el-switch>
			  </el-form-item>
			</el-form>
			<div slot="footer" class="dialog-footer">
				<el-button size="mini" @click="editClose">取消</el-button>
				<el-button size="mini" type="primary" @click="editSubmit" :loading="editLoading">提交</el-button>
			</div>
		</el-dialog>
		
		<!-- auth -->
		<el-dialog title="授权" :visible.sync="authFormVisible" :close-on-click-modal="false" >
			<el-form :loading="authFormLoading"  size="mini" label-position="top" :model="authForm" :rules="authFormRules" ref="authForm" label-width="120px">
			  <el-form-item v-for="(menuAuth, index) in menuAuthOptions" :key="index" >
			  	<div class="auth_label" slot="label" style="label">
			  		<el-breadcrumb separator="/">
					  	<el-breadcrumb-item v-for="(item, index2) in menuAuth.parray">{{item}}</el-breadcrumb-item>
			  			{{menuAuth.sMenu_Name}}&nbsp;&nbsp;
				  		<el-checkbox :disabled="menuAuth.disabled" :indeterminate="menuAuth.isIndeterminate" v-model="menuAuth.checkAll" @change="(val) => {handleCheckAllChange(val, menuAuth);}">全选</el-checkbox>
					</el-breadcrumb>
			  	</div>
			  	<!-- <div style="margin: 15px 0;"></div> -->
			    <el-checkbox-group v-model="authForm[menuAuth.sMenu_ID]" @change="(val) => {handleCheckedChange(val, menuAuth);}">
			    	<template v-for="(item, index2) in menuAuth.children">
					    <el-tooltip class="item" effect="dark" :disabled="!item.sMFun_Describe" placement="top">
					    	<div slot="content" v-html="item.sMFun_Describe"></div>
					    	<el-checkbox border :label="item.sMFun_ID" :disabled="menuAuth.disabled ? true : item.lMFun_StatusFlag ? false : true">{{item.sMFun_Name}}</el-checkbox>
		    			</el-tooltip>
			    	</template>
			    </el-checkbox-group>
			  </el-form-item>
			</el-form>
			<div slot="footer" class="dialog-footer">
				<el-button size="mini" @click="authClose">取消</el-button>
				<el-button size="mini" type="primary" @click="authSubmit" :loading="authLoading">提交</el-button>
			</div>
		</el-dialog>
		
		<!-- upload -->
		<el-dialog title="导入" width="80%" :visible.sync="uploadVisible" :close-on-click-modal="false">	
			<el-upload class="upload-demo" drag :show-file-list="false"
				:action="importUrl"
				:on-success="handleImportSuccess">
			  <i class="el-icon-upload"></i>
			  <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
			  <div class="el-upload__tip" slot="tip">
			  	<p>表格示例 :</p>
			  	<p>1.支持Excel文件</p>
				<p>2.请上传有标准行列的一维数据表格。（有合并单元格的数据请处理过后再上传，否则可能出现表头识别有误）</p>
				<p>3.日期字段需包含年月日（如2019/1/1），或年月日时分秒。（如2019/1/1 00:00:00）</p>
				<el-row style="margin-bottom: 10px;">
					<el-col class="tipsCol tipColBorder" :span="6">第1列</el-col>
					<el-col class="tipsCol tipColBorder" :span="6">第2列</el-col>
					<el-col class="tipsCol tipColBorder" :span="6">第3列</el-col>
					<el-col class="tipsCol tipColBorder" :span="6">第4列</el-col>
				</el-row>
			  	<el-table size="mini" :data="uploadTemp" highlight-current-row border style="width: 100%;" class="mytable" >
					<el-table-column label="应用名称【文本】" prop="sApp_Name">
					</el-table-column>
					<el-table-column label="应用编码【文本】" prop="sApp_NO">
					</el-table-column>
					<el-table-column label="应用秘钥【文本】" prop="sApp_SecretKey">
					</el-table-column>
					<el-table-column label="状态【数字】" prop="lApp_StatusFlag">
					</el-table-column>		
				</el-table>
			  </div>
			</el-upload>
			<div slot="footer" class="dialog-footer">
				<el-button size="mini" @click="importClose">取消</el-button>
			</div>
		</el-dialog>
		
	</section>
  </div>
</body>
  <script src="js/jquery-3.4.1.js" type="text/javascript"></script>
  <script src="js/vue-2.6.10/vue.js" type="text/javascript"></script>
  <script src="js/element-2.4.11/index.js" type="text/javascript"></script>
  <script src="js/browser.min.js" type="text/javascript"></script>
  <script type="text/javascript" src="js/global.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
</html>