<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- css -->
  <link rel="stylesheet" href="js/element-2.4.11/theme-chalk/index.css">
  <link rel="stylesheet" href="css/fontawesome5.6.3/css/all.css">
  <link rel="stylesheet" href="css/index.css">
  <style>
  	.uploadTabs .el-tabs__header{
  		margin-bottom: 10px !important;
  	}
  </style>
</head>
<body class="animated fadeIn">
  <div id="app">
  
  	<div v-show="!preloading" class="el-loading-mask" style="background-color: rgba(255,255,255,1);">
	   <div class="el-loading-spinner">
	    <i class="fa fa-spinner fa-pulse"></i>
 	    <p class="el-loading-text">Loading...</p>
	   </div>
    </div>
    
    <section style="padding: 20px;" v-show="preloading">
		<!-- filter -->
		<el-row>
		<el-col :span="24" class="toolbar" style="padding-bottom: 0px;">
			<el-col :span="24">
			<el-tabs value="filter" >
			    <el-tab-pane label="筛选" name="filter" disabled>
			    <el-form size="mini" :inline="true" :model="filters">
			    	<el-row>
			    	<el-form-item>
					    <el-select v-model="filters.sEquip_StoreLv1" placeholder="一级仓库" @change="handleFiltersLV1Options(filters.sEquip_StoreLv1)">
						    <el-option
						      v-for="item in filtersLv1Options"
						      :key="item.sStoreType_ID"
						      :label="item.sStoreType_Name"
						      :value="item.sStoreType_ID">
						    </el-option>
					    </el-select>
					</el-form-item>
					<el-form-item>
					    <el-select v-model="filters.sEquip_StoreLv2" placeholder="二级仓库" @change="handleFiltersLV2Options(filters.sEquip_StoreLv2)">
						    <el-option
						      v-for="item in filtersLv2Options"
						      :key="item.sStore_ID"
						      :label="item.sStore_Name"
						      :value="item.sStore_ID">
						    </el-option>
					    </el-select>
					</el-form-item>
					<el-form-item>
					    <el-select v-model="filters.sEquip_StoreLv3" placeholder="三级仓库" @change="handleFiltersLV3Options(filters.sEquip_StoreLv3)">
						    <el-option
						      v-for="item in filtersLv3Options"
						      :key="item.sStore_ID"
						      :label="item.sStore_Name"
						      :value="item.sStore_ID">
						    </el-option>
					    </el-select>
					</el-form-item>
					<el-form-item>
					    <el-select v-model="filters.sEquip_StoreLv4" placeholder="四级仓库">
						    <el-option
						      v-for="item in filtersLv4Options"
						      :key="item.sStore_ID"
						      :label="item.sStore_Name"
						      :value="item.sStore_ID">
						    </el-option>
					    </el-select>
					</el-form-item>
					</el-row>
					<el-row style="float: right;">
					<el-form-item>
						  <el-input v-model="filters.sEquip_NO" placeholder="请输入器材编码" clearable></el-input>
					</el-form-item>
					<!-- <el-form-item>
					    <el-cascader v-model="filters.store" placeholder="请选择仓库"
						    expand-trigger="hover"
						    :options="storeOptions"
						    :props="storeProps">
						  </el-cascader>
					</el-form-item> -->
					<el-form-item>
					    <el-select v-model="filters.sEquip_AidID" placeholder="请选择航标">
						    <el-option
						      v-for="item in aidOptions"
						      :key="item.sAid_ID"
						      :label="item.sAid_Name"
						      :value="item.sAid_ID">
						    </el-option>
					    </el-select>
					</el-form-item>
					<el-form-item>
					    <el-select v-model="filters.sEquip_Type" placeholder="请选择分类">
						    <el-option
						      v-for="item in typeOptions"
						      :key="item.sDict_NO"
						      :label="item.sDict_Name"
						      :value="item.sDict_NO">
						    </el-option>
					    </el-select>
					</el-form-item>
					<el-form-item>
					    <el-select v-model="filters.sEquip_Status" placeholder="请选择状态">
						    <el-option
						      v-for="item in statusOptions"
						      :key="item.sDict_NO"
						      :label="item.sDict_Name"
						      :value="item.sDict_NO">
						    </el-option>
					    </el-select>
					</el-form-item>
					<el-form-item>
						<el-button type="primary" title="查询" @click="query" icon="fa fa-search"></el-button>
						<el-button @click="reset"  title="重置" icon="fas fa-redo"></el-button>
						&nbsp;&nbsp;&nbsp;&nbsp;
						<el-button type="primary" title="导入" @click="getImport" icon="fas fa-file-import" ref="import" auth="sys:equip:import" v-show="hasAuth('import')"></el-button>
						<el-button type="primary" title="导出" @click="getExcel" icon="fas fa-file-export" ref="export" auth="sys:equip:export" v-show="hasAuth('export')"></el-button>
						&nbsp;&nbsp;&nbsp;&nbsp;
						<el-button type="primary" title="新增" @click="handleAdd" icon="fas fa-plus" ref="add" auth="sys:equip:add" v-show="hasAuth('add')"></el-button>
					</el-form-item>
					</el-row>
				</el-form>
			    </el-tab-pane>
		    </el-tabs>
				
			</el-col>
		</el-col>
		</el-row>
		
	    <el-tabs v-model="activeTab" >
		    <el-tab-pane label="结果" name="table" disabled ref="query" auth="sys:equip:query" v-show="hasAuth('query')">
				<!-- list -->
				<el-table size="mini" :data="list" highlight-current-row border v-loading="listLoading" @selection-change="selsChange" style="width: 100%;" class="mytable" >
					<el-table-column label="ID" prop="sEquip_ID" width="120" fixed="left">
					</el-table-column>
					<el-table-column label="器材编码" prop="sEquip_NO" width="120" fixed="left">
					</el-table-column>
					<!-- <el-table-column label="器材名称" prop="sEquip_Name" width="120" fixed="left">
					</el-table-column> -->
					<el-table-column label="器材种类" prop="sEquip_Type" :formatter="typeFormatter" fixed="left">
					</el-table-column>
					<el-table-column label="状态" prop="sEquip_Status" :formatter="statusFormatter">
					</el-table-column>
					<el-table-column label="NFC标签" prop="sEquip_NfcID" >
						<template scope="scope">
					        <el-popover trigger="hover" placement="top" v-for="item in nfcAllOptions" v-if="scope.row.sEquip_NfcID == item.sNfc_ID">
					          <p>名称: {{ item.sNfc_Name }}</p>
					          <div slot="reference" class="name-wrapper">
					            <el-tag size="mini">{{ item.sNfc_NO }}</el-tag>
					          </div>
					        </el-popover>
					     </template>
					</el-table-column>
					<el-table-column label="所属航标" prop="sEquip_AidID"  :formatter="aidFormatter">
					</el-table-column>
					<el-table-column label="所属仓库一级" prop="sEquip_StoreLv1" :formatter="store1Formatter">
					</el-table-column>
					<el-table-column label="所属仓库二级" prop="sEquip_StoreLv2" :formatter="store2Formatter">
					</el-table-column>
					<el-table-column label="所属仓库三级" prop="sEquip_StoreLv3" :formatter="store3Formatter">
					</el-table-column>
					<el-table-column label="所属仓库四级" prop="sEquip_StoreLv4" :formatter="store4Formatter">
					</el-table-column>
					<el-table-column label="创建日期" prop="dEquip_CreateDate" :formatter="(r,c) => {return formatDate(r.dEquip_CreateDate);}">
					</el-table-column>
					<el-table-column fixed="right" label="操作" width="100" align="center">
						<template scope="scope">
							<el-dropdown size="mini">
							  <el-button type="primary" size="mini">
							   	<i class="fas fa-cog"></i>
							  </el-button>
							  <el-dropdown-menu slot="dropdown">
							    <el-dropdown-item @click.native="handleEdit(scope.$index, scope.row)" ref="edit" auth="sys:equip:update" v-show="hasAuth('edit')">
							    	<i class="fas fa-edit"></i>&nbsp;编辑
							    </el-dropdown-item>
							    <el-dropdown-item @click.native="handleView(scope.$index, scope.row)" >
							    	<i class="fas fa-info-circle"></i>&nbsp;详情
							    </el-dropdown-item>
							    <el-dropdown-item @click.native="handleDelBind(scope.$index, scope.row)" divided :disabled="scope.row.sEquip_NfcID ? false : true ">
							    	<i class="fas fa-unlink"></i>&nbsp;解绑NFC
							    </el-dropdown-item>
							    <el-dropdown-item @click.native="handleBind(scope.$index, scope.row)" :disabled="scope.row.sEquip_NfcID ? true : false ">
							    	<i class="fas fa-link"></i>&nbsp;绑定NFC
							    </el-dropdown-item>
							    <el-dropdown-item @click.native="handleDel(scope.$index, scope.row)" divided style="color: #f56c6c;" ref="delete" auth="sys:equip:delete" v-show="hasAuth('delete')">
							    	<i class="fas fa-trash-alt"></i>&nbsp;删除
							    </el-dropdown-item>
							  </el-dropdown-menu>
							</el-dropdown>
						</template>
					</el-table-column>
				</el-table>
		
				<!-- page tool -->
				<el-col :span="24" class="toolbar">
					<!-- <el-button type="danger" @click="batchRemove" :disabled="this.sels.length===0">Batch remove</el-button> -->
					<el-pagination layout="total, sizes, prev, pager, next, jumper" @size-change="handleSizeChange" @current-change="handleCurrentChange" :page-sizes="[10, 20, 50, 100]" :page-size="rows" :total="total" style="float:right;">
					</el-pagination>
				</el-col>
			</el-tab-pane>
		  </el-tabs>
		
		
		<!-- add -->
		<el-dialog title="新增" :visible.sync="addFormVisible" :close-on-click-modal="false">	
			<el-form size="mini" :model="addForm" :rules="addFormRules" ref="addForm" label-width="120px">
			  <el-form-item label="器材编码" prop="sEquip_NO">
			    <el-input v-model="addForm.sEquip_NO"></el-input>
			  </el-form-item>
			  <!-- <el-form-item label="器材名称" prop="sEquip_Name">
			    <el-input v-model="addForm.sEquip_Name"></el-input>
			  </el-form-item> -->
			  <el-form-item label="器材种类" prop="sEquip_Type">
			    <el-select v-model="addForm.sEquip_Type" placeholder="请选择器材种类" @change="handleTypeChange">
				    <el-option
				      v-for="item in typeOptions"
				      :key="item.sDict_NO"
				      :label="item.sDict_Name"
				      :value="item.sDict_NO">
				    </el-option>
			    </el-select>
			  </el-form-item>
			  <el-form-item label="所属仓库" prop="store">
			     <el-cascader v-model="addForm.store" placeholder="请选择所属仓库"
				    expand-trigger="hover"
				    :options="storeOptions"
				    :props="storeProps">
				  </el-cascader>
			  </el-form-item>
			  <el-form-item label="生产厂家" prop="sEquip_Manufacturer">
			    <el-select v-model="addForm.sEquip_Manufacturer" placeholder="请选择生产厂家">
				    <el-option
				      v-for="item in mfOptions"
				      :key="item.sDict_NO"
				      :label="item.sDict_Name"
				      :value="item.sDict_NO">
				    </el-option>
			    </el-select>
			  </el-form-item>
			  <el-form-item label="厂方型号" prop="sEquip_MModel">
			    <el-input v-model="addForm.sEquip_MModel"></el-input>
			  </el-form-item>
			  <el-form-item label="品牌" prop="sEquip_MBrand">
				<el-input v-model="addForm.sEquip_MBrand"></el-input>
			  </el-form-item>
			  <el-form-item label="到货日期" prop="dEquip_ArrivalDate">
			    <el-date-picker
			      v-model="addForm.dEquip_ArrivalDate"
			      type="datetime"
			      value-format="timestamp"
			      placeholder="选择日期">
			    </el-date-picker>
			  </el-form-item>
			  
			  <!-- EquipType_AIS: "EquipAIS", //AIS -->
			  <template v-if="addForm.sEquip_Type == equipTypeOptions.EquipType_AIS">
				  <el-form-item label="MMSIX号" prop="sAis_MMSIX">
				    <el-select v-model="addForm.sAis_MMSIX" placeholder="请选择">
					    <el-option
					      v-for="item in aisMMSIXOptions"
					      :key="item.sDict_NO"
					      :label="item.sDict_Name"
					      :value="item.sDict_NO">
					    </el-option>
				    </el-select>
				  </el-form-item>
			  </template>
			  <!-- EquipType_Radar: "EquipRadar", //雷达应答器-->
			  <template v-if="addForm.sEquip_Type == equipTypeOptions.EquipType_Radar">
				  <el-form-item label="雷达应答器编码" prop="sRadar_NO">
				    <el-select v-model="addForm.sRadar_NO" placeholder="请选择">
					    <el-option
					      v-for="item in radarNOOptions"
					      :key="item.sDict_NO"
					      :label="item.sDict_Name"
					      :value="item.sDict_NO">
					    </el-option>
				    </el-select>
				  </el-form-item>
				  <el-form-item label="雷达应答器波段" prop="sRadar_Band">
				    <el-select v-model="addForm.sRadar_Band" placeholder="请选择">
					    <el-option
					      v-for="item in radarBandOptions"
					      :key="item.sDict_NO"
					      :label="item.sDict_Name"
					      :value="item.sDict_NO">
					    </el-option>
				    </el-select>
				  </el-form-item>
			  </template>
			  <!-- EquipType_Telemetry: "EquipTelemetry", //遥测遥控-->
			  <template v-if="addForm.sEquip_Type == equipTypeOptions.EquipType_Telemetry">
				  <el-form-item label="遥控遥测编码" prop="sTelemetry_NO">
				    <el-input v-model="addForm.sTelemetry_NO"></el-input>
				  </el-form-item>
				  <el-form-item label="SIM(MMIS)卡号" prop="sTelemetry_SIM">
				    <el-input v-model="addForm.sTelemetry_SIM"></el-input>
				  </el-form-item>
				  <el-form-item label="遥控遥测方式" prop="sTelemetry_Mode">
				    <el-select v-model="addForm.sTelemetry_Mode" placeholder="请选择">
					    <el-option
					      v-for="item in telemetryModeOptions"
					      :key="item.sDict_NO"
					      :label="item.sDict_Name"
					      :value="item.sDict_NO">
					    </el-option>
				    </el-select>
				  </el-form-item>
				  <el-form-item label="电压（V）" prop="lTelemetry_Volt">
				    <el-input v-model="addForm.lTelemetry_Volt"></el-input>
				  </el-form-item>
				  <el-form-item label="功率（W）" prop="lTelemetry_Watt">
				    <el-input v-model="addForm.lTelemetry_Watt"></el-input>
				  </el-form-item>
			  </template>
			  <!-- EquipType_Battery:  "EquipBattery", //蓄电池-->
			  <template v-if="addForm.sEquip_Type == equipTypeOptions.EquipType_Battery">
				  <el-form-item label="编码" prop="sBattery_NO">
				    <el-input v-model="addForm.sBattery_NO"></el-input>
				  </el-form-item>
				  <el-form-item label="种类" prop="sBattery_Type">
				    <el-select v-model="addForm.sBattery_Type" placeholder="请选择">
					    <el-option
					      v-for="item in batteryTypeOptions"
					      :key="item.sDict_NO"
					      :label="item.sDict_Name"
					      :value="item.sDict_NO">
					    </el-option>
				    </el-select>
				  </el-form-item>
				  <el-form-item label="工作电压（V）" prop="lBattery_Volt">
				    <el-input v-model="addForm.lBattery_Volt"></el-input>
				  </el-form-item>
				  <el-form-item label="容量（W）" prop="lBattery_Watt">
				    <el-input v-model="addForm.lBattery_Watt"></el-input>
				  </el-form-item>
				  <el-form-item label="连接方式" prop="sBattery_Connect">
				    <el-input v-model="addForm.sBattery_Connect"></el-input>
				  </el-form-item>
			  </template>
			  <!-- EquipType_SolarEnergy:  "EquipSolarEnergy", //太阳能板 -->
			  <template v-if="addForm.sEquip_Type == equipTypeOptions.EquipType_SolarEnergy">
				  <el-form-item label="编码" prop="sSolar_NO">
				    <el-input v-model="addForm.sSolar_NO"></el-input>
				  </el-form-item>
				  <el-form-item label="种类" prop="sSolar_Type">
				    <el-select v-model="addForm.sSolar_Type" placeholder="请选择">
					    <el-option
					      v-for="item in solarTypeOptions"
					      :key="item.sDict_NO"
					      :label="item.sDict_Name"
					      :value="item.sDict_NO">
					    </el-option>
				    </el-select>
				  </el-form-item>
				  <el-form-item label="额定电压（V）" prop="lSolar_Volt">
				    <el-input v-model="addForm.lSolar_Volt"></el-input>
				  </el-form-item>
				  <el-form-item label="功率（W）" prop="lSolar_Watt">
				    <el-input v-model="addForm.lSolar_Watt"></el-input>
				  </el-form-item>
				  <el-form-item label="连接方式" prop="sSolar_Connect">
				    <el-input v-model="addForm.sSolar_Connect"></el-input>
				  </el-form-item>
			  
			  </template>
			  <!-- EquipType_SpareLamp:  "EquipSpareLamp", //备灯器-->
			  <template v-if="addForm.sEquip_Type == equipTypeOptions.EquipType_SpareLamp">
				  <el-form-item label="功率（W）" prop="lSLamp_Watt">
				    <el-input v-model="addForm.lSLamp_Watt"></el-input>
				  </el-form-item>
			  </template>
			  <!-- EquipType_ViceLamp:  "EquipViceLamp", //副灯器	-->
			  <template v-if="addForm.sEquip_Type == equipTypeOptions.EquipType_ViceLamp">
				  <el-form-item label="功率（W）" prop="lVLamp_Watt">
				    <el-input v-model="addForm.lVLamp_Watt"></el-input>
				  </el-form-item>
			  </template>
			  <!-- EquipType_Lamp:  "EquipLamp" //灯器-->
			  <template v-if="addForm.sEquip_Type == equipTypeOptions.EquipType_Lamp">
				  <el-form-item label="编码" prop="sLamp_NO">
				    <el-input v-model="addForm.sLamp_NO"></el-input>
				  </el-form-item>
				  <!-- <el-form-item label="品牌" prop="sLamp_Brand">
				    <el-input v-model="addForm.sLamp_Brand"></el-input>
				  </el-form-item> -->
				  <el-form-item label="类型" prop="sLamp_Type">
				    <el-select v-model="addForm.sLamp_Type" placeholder="请选择">
					    <el-option
					      v-for="item in lampTypeOptions"
					      :key="item.sDict_NO"
					      :label="item.sDict_Name"
					      :value="item.sDict_NO">
					    </el-option>
				    </el-select>
				  </el-form-item>
				  <el-form-item label="透镜形状" prop="sLamp_Lens">
				    <el-select v-model="addForm.sLamp_Lens" placeholder="请选择">
					    <el-option
					      v-for="item in lampLensOptions"
					      :key="item.sDict_NO"
					      :label="item.sDict_Name"
					      :value="item.sDict_NO">
					    </el-option>
				    </el-select>
				  </el-form-item>
				  <el-form-item label="输入电压（V）" prop="lLamp_InputVolt">
				    <el-input v-model="addForm.lLamp_InputVolt"></el-input>
				  </el-form-item>
				  <el-form-item label="功率（W）" prop="lLamp_Watt">
				    <el-input v-model="addForm.lLamp_Watt"></el-input>
				  </el-form-item>
				  <el-form-item label="遥测遥控接口" prop="lLamp_TelemetryFlag">
				    <el-switch
					  v-model="addForm.lLamp_TelemetryFlag"
					  active-text="是"
					  inactive-text="否"
					  :active-value="1"
   					  :inactive-value="0">
					</el-switch>
				  </el-form-item>
				  <el-form-item label="遥测接口类型" prop="sLamp_Telemetry" v-if="addForm.lLamp_TelemetryFlag == 1">
				    <el-select v-model="addForm.sLamp_Telemetry" placeholder="请选择">
					    <el-option
					      v-for="item in lampTelemetryOptions"
					      :key="item.sDict_NO"
					      :label="item.sDict_Name"
					      :value="item.sDict_NO">
					    </el-option>
				    </el-select>
				  </el-form-item>
			  </template>
			  
			</el-form>
			<div slot="footer" class="dialog-footer">
				<el-button size="mini" @click="addClose">取消</el-button>
				<el-button size="mini" type="primary" @click="addSubmit" :loading="addLoading">提交</el-button>
			</div>
		</el-dialog>
		
		<!-- edit -->
		<el-dialog title="编辑" :visible.sync="editFormVisible" :close-on-click-modal="false">
			<el-form size="mini" :model="editForm" :rules="editFormRules" ref="editForm"label-width="120px">
				<el-form-item label="器材编码" prop="sEquip_NO">
					<el-input type="text" v-model="editForm.sEquip_NO"></el-input>
				</el-form-item>
				<!-- <el-form-item label="器材名称" prop="sEquip_Name">
					<el-input type="text" v-model="editForm.sEquip_Name"></el-input>
				</el-form-item> -->
			  <el-form-item label="器材种类" prop="sEquip_Type">
			    <el-select v-model="editForm.sEquip_Type" placeholder="请选择器材种类" @change="handleTypeChange">
				    <el-option
				      v-for="item in typeOptions"
				      :key="item.sDict_NO"
				      :label="item.sDict_Name"
				      :value="item.sDict_NO">
				    </el-option>
			    </el-select>
			  </el-form-item>
			  <el-form-item label="所属仓库" prop="store">
			     <el-cascader v-model="editForm.store" placeholder="请选择所属仓库"
				    expand-trigger="hover"
				    :options="storeOptions"
				    :props="storeProps">
				  </el-cascader>
			  </el-form-item>
			  <el-form-item label="生产厂家" prop="sEquip_Manufacturer">
			    <el-select v-model="editForm.sEquip_Manufacturer" placeholder="请选择生产厂家">
				    <el-option
				      v-for="item in mfOptions"
				      :key="item.sDict_NO"
				      :label="item.sDict_Name"
				      :value="item.sDict_NO">
				    </el-option>
			    </el-select>
			  </el-form-item>
			  <el-form-item label="厂方型号" prop="sEquip_MModel">
			    <el-input v-model="editForm.sEquip_MModel"></el-input>
			  </el-form-item>
			  <el-form-item label="品牌" prop="sEquip_MBrand">
				<el-input v-model="editForm.sEquip_MBrand"></el-input>
			  </el-form-item>
			  <el-form-item label="到货日期" prop="dEquip_ArrivalDate">
			    <el-date-picker
			      v-model="editForm.dEquip_ArrivalDate"
			      type="datetime"
			      value-format="timestamp"
			      placeholder="选择日期">
			    </el-date-picker>
			  </el-form-item>
			  <!-- EquipType_AIS: "EquipAIS", //AIS -->
			  <template v-if="editForm.sEquip_Type == equipTypeOptions.EquipType_AIS">
				  <el-form-item label="MMSIX号" prop="sAis_MMSIX">
				    <el-select v-model="editForm.sAis_MMSIX" placeholder="请选择">
					    <el-option
					      v-for="item in aisMMSIXOptions"
					      :key="item.sDict_NO"
					      :label="item.sDict_Name"
					      :value="item.sDict_NO">
					    </el-option>
				    </el-select>
				  </el-form-item>
			  </template>
			  <!-- EquipType_Radar: "EquipRadar", //雷达应答器-->
			  <template v-if="editForm.sEquip_Type == equipTypeOptions.EquipType_Radar">
				  <el-form-item label="雷达应答器编码" prop="sRadar_NO">
				    <el-select v-model="editForm.sRadar_NO" placeholder="请选择">
					    <el-option
					      v-for="item in radarNOOptions"
					      :key="item.sDict_NO"
					      :label="item.sDict_Name"
					      :value="item.sDict_NO">
					    </el-option>
				    </el-select>
				  </el-form-item>
				  <el-form-item label="雷达应答器波段" prop="sRadar_Band">
				    <el-select v-model="editForm.sRadar_Band" placeholder="请选择">
					    <el-option
					      v-for="item in radarBandOptions"
					      :key="item.sDict_NO"
					      :label="item.sDict_Name"
					      :value="item.sDict_NO">
					    </el-option>
				    </el-select>
				  </el-form-item>
			  </template>
			  <!-- EquipType_Telemetry: "EquipTelemetry", //遥测遥控-->
			  <template v-if="editForm.sEquip_Type == equipTypeOptions.EquipType_Telemetry">
				  <el-form-item label="遥控遥测编码" prop="sTelemetry_NO">
				    <el-input v-model="editForm.sTelemetry_NO"></el-input>
				  </el-form-item>
				  <el-form-item label="SIM(MMIS)卡号" prop="sTelemetry_SIM">
				    <el-input v-model="editForm.sTelemetry_SIM"></el-input>
				  </el-form-item>
				  <el-form-item label="遥控遥测方式" prop="sTelemetry_Mode">
				    <el-select v-model="editForm.sTelemetry_Mode" placeholder="请选择">
					    <el-option
					      v-for="item in telemetryModeOptions"
					      :key="item.sDict_NO"
					      :label="item.sDict_Name"
					      :value="item.sDict_NO">
					    </el-option>
				    </el-select>
				  </el-form-item>
				  <el-form-item label="电压（V）" prop="lTelemetry_Volt">
				    <el-input v-model="editForm.lTelemetry_Volt"></el-input>
				  </el-form-item>
				  <el-form-item label="功率（W）" prop="lTelemetry_Watt">
				    <el-input v-model="editForm.lTelemetry_Watt"></el-input>
				  </el-form-item>
			  </template>
			  <!-- EquipType_Battery:  "EquipBattery", //蓄电池-->
			  <template v-if="editForm.sEquip_Type == equipTypeOptions.EquipType_Battery">
				  <el-form-item label="编码" prop="sBattery_NO">
				    <el-input v-model="editForm.sBattery_NO"></el-input>
				  </el-form-item>
				  <el-form-item label="种类" prop="sBattery_Type">
				    <el-select v-model="editForm.sBattery_Type" placeholder="请选择">
					    <el-option
					      v-for="item in batteryTypeOptions"
					      :key="item.sDict_NO"
					      :label="item.sDict_Name"
					      :value="item.sDict_NO">
					    </el-option>
				    </el-select>
				  </el-form-item>
				  <el-form-item label="工作电压（V）" prop="lBattery_Volt">
				    <el-input v-model="editForm.lBattery_Volt"></el-input>
				  </el-form-item>
				  <el-form-item label="容量（W）" prop="lBattery_Watt">
				    <el-input v-model="editForm.lBattery_Watt"></el-input>
				  </el-form-item>
				  <el-form-item label="连接方式" prop="sBattery_Connect">
				    <el-input v-model="editForm.sBattery_Connect"></el-input>
				  </el-form-item>
			  </template>
			  <!-- EquipType_SolarEnergy:  "EquipSolarEnergy", //太阳能板 -->
			  <template v-if="editForm.sEquip_Type == equipTypeOptions.EquipType_SolarEnergy">
				  <el-form-item label="编码" prop="sSolar_NO">
				    <el-input v-model="editForm.sSolar_NO"></el-input>
				  </el-form-item>
				  <el-form-item label="种类" prop="sSolar_Type">
				    <el-select v-model="editForm.sSolar_Type" placeholder="请选择">
					    <el-option
					      v-for="item in solarTypeOptions"
					      :key="item.sDict_NO"
					      :label="item.sDict_Name"
					      :value="item.sDict_NO">
					    </el-option>
				    </el-select>
				  </el-form-item>
				  <el-form-item label="额定电压（V）" prop="lSolar_Volt">
				    <el-input v-model="editForm.lSolar_Volt"></el-input>
				  </el-form-item>
				  <el-form-item label="功率（W）" prop="lSolar_Watt">
				    <el-input v-model="editForm.lSolar_Watt"></el-input>
				  </el-form-item>
				  <el-form-item label="连接方式" prop="sSolar_Connect">
				    <el-input v-model="editForm.sSolar_Connect"></el-input>
				  </el-form-item>
			  
			  </template>
			  <!-- EquipType_SpareLamp:  "EquipSpareLamp", //备灯器-->
			  <template v-if="editForm.sEquip_Type == equipTypeOptions.EquipType_SpareLamp">
				  <el-form-item label="功率（W）" prop="lSLamp_Watt">
				    <el-input v-model="editForm.lSLamp_Watt"></el-input>
				  </el-form-item>
			  </template>
			  <!-- EquipType_ViceLamp:  "EquipViceLamp", //副灯器	-->
			  <template v-if="editForm.sEquip_Type == equipTypeOptions.EquipType_ViceLamp">
				  <el-form-item label="功率（W）" prop="lVLamp_Watt">
				    <el-input v-model="editForm.lVLamp_Watt"></el-input>
				  </el-form-item>
			  </template>
			  <!-- EquipType_Lamp:  "EquipLamp" //灯器-->
			  <template v-if="editForm.sEquip_Type == equipTypeOptions.EquipType_Lamp">
				  <el-form-item label="编码" prop="sLamp_NO">
				    <el-input v-model="editForm.sLamp_NO"></el-input>
				  </el-form-item>
				  <!-- <el-form-item label="品牌" prop="sLamp_Brand">
				    <el-input v-model="editForm.sLamp_Brand"></el-input>
				  </el-form-item> -->
				  <el-form-item label="类型" prop="sLamp_Type">
				    <el-select v-model="editForm.sLamp_Type" placeholder="请选择">
					    <el-option
					      v-for="item in lampTypeOptions"
					      :key="item.sDict_NO"
					      :label="item.sDict_Name"
					      :value="item.sDict_NO">
					    </el-option>
				    </el-select>
				  </el-form-item>
				  <el-form-item label="透镜形状" prop="sLamp_Lens">
				    <el-select v-model="editForm.sLamp_Lens" placeholder="请选择">
					    <el-option
					      v-for="item in lampLensOptions"
					      :key="item.sDict_NO"
					      :label="item.sDict_Name"
					      :value="item.sDict_NO">
					    </el-option>
				    </el-select>
				  </el-form-item>
				  <el-form-item label="输入电压（V）" prop="lLamp_InputVolt">
				    <el-input v-model="editForm.lLamp_InputVolt"></el-input>
				  </el-form-item>
				  <el-form-item label="功率（W）" prop="lLamp_Watt">
				    <el-input v-model="editForm.lLamp_Watt"></el-input>
				  </el-form-item>
				  <el-form-item label="遥测遥控接口" prop="lLamp_TelemetryFlag">
				    <el-switch
					  v-model="editForm.lLamp_TelemetryFlag"
					  active-text="是"
					  inactive-text="否"
					  :active-value="1"
   					  :inactive-value="0">
					</el-switch>
				  </el-form-item>
				  <el-form-item label="遥测接口类型" prop="sLamp_Telemetry" v-if="editForm.lLamp_TelemetryFlag == 1">
				    <el-select v-model="editForm.sLamp_Telemetry" placeholder="请选择">
					    <el-option
					      v-for="item in lampTelemetryOptions"
					      :key="item.sDict_NO"
					      :label="item.sDict_Name"
					      :value="item.sDict_NO">
					    </el-option>
				    </el-select>
				  </el-form-item>
			  </template>
			  
			</el-form>
			<div slot="footer" class="dialog-footer">
				<el-button size="mini" @click="editClose">取消</el-button>
				<el-button size="mini" type="primary" @click="editSubmit" :loading="editLoading">提交</el-button>
			</div>
		</el-dialog>
		
		<!-- view -->
		<el-dialog title="编辑" :visible.sync="viewFormVisible" :close-on-click-modal="false">
			<el-form size="mini" :model="viewForm" ref="viewForm"label-width="120px">
				<el-form-item label="器材编码" prop="sEquip_NO">
					<div v-html="viewForm.sEquip_NO"></div>
				</el-form-item>
				<!-- <el-form-item label="器材名称" prop="sEquip_Name">
					<div v-html="viewForm.sEquip_Name"></div>
				</el-form-item> -->
			  <el-form-item label="器材种类" prop="sEquip_Type">
					<div v-html="typeFormatter(viewForm)"></div>
			  </el-form-item>
			  <el-form-item label="所属仓库" prop="store">
					<div v-html="storeFormatter(viewForm)"></div>
			  </el-form-item>
			  <el-form-item label="生产厂家" prop="sEquip_Manufacturer">
					<div v-for="item in mfOptions" 
						:key="item.sDict_NO" 
						v-if="viewForm.sEquip_Manufacturer == item.sDict_NO" 
						v-html="item.sDict_Name">
					</div>
			  </el-form-item>
			  <el-form-item label="厂方型号" prop="sEquip_MModel">
					<div v-html="viewForm.sEquip_MModel"></div>
			  </el-form-item>
			  <el-form-item label="品牌" prop="sEquip_MBrand">
					<div v-html="viewForm.sEquip_MBrand"></div>
			  </el-form-item>
			  <el-form-item label="到货日期" prop="dEquip_ArrivalDate">
					<div v-html="formatDateStr(viewForm.dEquip_ArrivalDate, 'yyyy-MM-dd')"></div>
			  </el-form-item>
			  <!-- EquipType_AIS: "EquipAIS", //AIS -->
			  <template v-if="viewForm.sEquip_Type == equipTypeOptions.EquipType_AIS">
				  <el-form-item label="MMSIX号" prop="sAis_MMSIX">
					<div v-for="item in aisMMSIXOptions" 
						:key="item.sDict_NO" 
						v-if="viewForm.sAis_MMSIX == item.sDict_NO" 
						v-html="item.sDict_Name">
					</div>
				  </el-form-item>
			  </template>
			  <!-- EquipType_Radar: "EquipRadar", //雷达应答器-->
			  <template v-if="viewForm.sEquip_Type == equipTypeOptions.EquipType_Radar">
				  <el-form-item label="雷达应答器编码" prop="sRadar_NO">
					<div v-for="item in radarNOOptions" 
						:key="item.sDict_NO" 
						v-if="viewForm.sRadar_NO == item.sDict_NO" 
						v-html="item.sDict_Name">
					</div>
				  </el-form-item>
				  <el-form-item label="雷达应答器波段" prop="sRadar_Band">
					<div v-for="item in radarBandOptions" 
						:key="item.sDict_NO" 
						v-if="viewForm.sRadar_Band == item.sDict_NO" 
						v-html="item.sDict_Name">
					</div>
				  </el-form-item>
			  </template>
			  <!-- EquipType_Telemetry: "EquipTelemetry", //遥测遥控-->
			  <template v-if="viewForm.sEquip_Type == equipTypeOptions.EquipType_Telemetry">
				  <el-form-item label="遥控遥测编码" prop="sTelemetry_NO">
					<div v-html="viewForm.sTelemetry_NO"></div>
				  </el-form-item>
				  <el-form-item label="SIM(MMIS)卡号" prop="sTelemetry_SIM">
					<div v-html="viewForm.sTelemetry_SIM"></div>
				  </el-form-item>
				  <el-form-item label="遥控遥测方式" prop="sTelemetry_Mode">
					<div v-for="item in telemetryModeOptions" 
						:key="item.sDict_NO" 
						v-if="viewForm.sTelemetry_Mode == item.sDict_NO" 
						v-html="item.sDict_Name">
					</div>
				  </el-form-item>
				  <el-form-item label="电压（V）" prop="lTelemetry_Volt">
					<div v-html="viewForm.lTelemetry_Volt"></div>
				  </el-form-item>
				  <el-form-item label="功率（W）" prop="lTelemetry_Watt">
					<div v-html="viewForm.lTelemetry_Watt"></div>
				  </el-form-item>
			  </template>
			  <!-- EquipType_Battery:  "EquipBattery", //蓄电池-->
			  <template v-if="viewForm.sEquip_Type == equipTypeOptions.EquipType_Battery">
				  <el-form-item label="编码" prop="sBattery_NO">
					<div v-html="viewForm.sBattery_NO"></div>
				  </el-form-item>
				  <el-form-item label="种类" prop="sBattery_Type">
					<div v-for="item in batteryTypeOptions" 
						:key="item.sDict_NO" 
						v-if="viewForm.sBattery_Type == item.sDict_NO" 
						v-html="item.sDict_Name">
					</div>
				  </el-form-item>
				  <el-form-item label="工作电压（V）" prop="lBattery_Volt">
					<div v-html="viewForm.lBattery_Volt"></div>
				  </el-form-item>
				  <el-form-item label="容量（W）" prop="lBattery_Watt">
					<div v-html="viewForm.lBattery_Watt"></div>
				  </el-form-item>
				  <el-form-item label="连接方式" prop="sBattery_Connect">
					<div v-html="viewForm.sBattery_Connect"></div>
				  </el-form-item>
			  </template>
			  <!-- EquipType_SolarEnergy:  "EquipSolarEnergy", //太阳能板 -->
			  <template v-if="viewForm.sEquip_Type == equipTypeOptions.EquipType_SolarEnergy">
				  <el-form-item label="编码" prop="sSolar_NO">
					<div v-html="viewForm.sSolar_NO"></div>
				  </el-form-item>
				  <el-form-item label="种类" prop="sSolar_Type">
					<div v-for="item in solarTypeOptions" 
						:key="item.sDict_NO" 
						v-if="viewForm.sSolar_Type == item.sDict_NO" 
						v-html="item.sDict_Name">
					</div>
				  </el-form-item>
				  <el-form-item label="额定电压（V）" prop="lSolar_Volt">
					<div v-html="viewForm.lSolar_Volt"></div>
				  </el-form-item>
				  <el-form-item label="功率（W）" prop="lSolar_Watt">
					<div v-html="viewForm.lSolar_Watt"></div>
				  </el-form-item>
				  <el-form-item label="连接方式" prop="sSolar_Connect">
					<div v-html="viewForm.sSolar_Connect"></div>
				  </el-form-item>
			  </template>
			  <!-- EquipType_SpareLamp:  "EquipSpareLamp", //备灯器-->
			  <template v-if="viewForm.sEquip_Type == equipTypeOptions.EquipType_SpareLamp">
				  <el-form-item label="功率（W）" prop="lSLamp_Watt">
					<div v-html="viewForm.lSLamp_Watt"></div>
				  </el-form-item>
			  </template>
			  <!-- EquipType_ViceLamp:  "EquipViceLamp", //副灯器	-->
			  <template v-if="viewForm.sEquip_Type == equipTypeOptions.EquipType_ViceLamp">
				  <el-form-item label="功率（W）" prop="lVLamp_Watt">
					<div v-html="viewForm.lVLamp_Watt"></div>
				  </el-form-item>
			  </template>
			  <!-- EquipType_Lamp:  "EquipLamp" //灯器-->
			  <template v-if="viewForm.sEquip_Type == equipTypeOptions.EquipType_Lamp">
				  <el-form-item label="编码" prop="sLamp_NO">
					<div v-html="viewForm.sLamp_NO"></div>
				  </el-form-item>
				  <!-- <el-form-item label="品牌" prop="sLamp_Brand">
					<div v-html="viewForm.sLamp_Brand"></div>
				  </el-form-item> -->
				  <el-form-item label="类型" prop="sLamp_Type">
					<div v-for="item in lampTypeOptions" 
						:key="item.sDict_NO" 
						v-if="viewForm.sLamp_Type == item.sDict_NO" 
						v-html="item.sDict_Name">
					</div>
				  </el-form-item>
				  <el-form-item label="透镜形状" prop="sLamp_Lens">
					<div v-for="item in lampLensOptions" 
						:key="item.sDict_NO" 
						v-if="viewForm.sLamp_Lens == item.sDict_NO" 
						v-html="item.sDict_Name">
					</div>
				  </el-form-item>
				  <el-form-item label="输入电压（V）" prop="lLamp_InputVolt">
					<div v-html="viewForm.lLamp_InputVolt"></div>
				  </el-form-item>
				  <el-form-item label="功率（W）" prop="lLamp_Watt">
					<div v-html="viewForm.lLamp_Watt"></div>
				  </el-form-item>
				  <el-form-item label="遥测遥控接口" prop="lLamp_TelemetryFlag">
					<div v-html="viewForm.lLamp_TelemetryFlag ? '是': '否' "></div>
				  </el-form-item>
				  <el-form-item label="遥测接口类型" prop="sLamp_Telemetry" v-if="viewForm.lLamp_TelemetryFlag == 1">
					<div v-for="item in lampTelemetryOptions" 
						:key="item.sDict_NO" 
						v-if="viewForm.sLamp_Telemetry == item.sDict_NO" 
						v-html="item.sDict_Name">
					</div>
				  </el-form-item>
			  </template>
			  
			</el-form>
			<div slot="footer" class="dialog-footer">
				<el-button size="mini" @click="viewClose">关闭</el-button>
			</div>
		</el-dialog>
		
		<!-- bind -->
		<el-dialog title="绑定" :visible.sync="bindFormVisible" :close-on-click-modal="false">
			<el-form size="mini" :model="bindForm" :rules="bindFormRules" ref="bindForm" :inline="true">
				<el-form-item label="绑定到" prop="sNfc_ID">
					<el-select v-model="bindForm.sNfc_ID" placeholder="请选择NFC标签" >
						<el-option
					      v-for="item in nfcOptions"
					      :key="item.sNfc_ID"
					      :label="item.sNfc_NO"
					      :value="item.sNfc_ID">
						</el-option>
					 </el-select>
				</el-form-item>
			</el-form>
			<div slot="footer" class="dialog-footer">
				<el-button size="mini" @click="bindClose">取消</el-button>
				<el-button size="mini" type="primary" @click="bindSubmit" :loading="bindLoading">提交</el-button>
			</div>
		</el-dialog>
		
		<!-- upload -->
		<el-dialog title="导入" width="80%" :visible.sync="uploadVisible" :close-on-click-modal="false">	
			<el-upload class="upload-demo" drag :show-file-list="false"
				:action="importUrl"
				:on-success="handleImportSuccess">
			  <i class="el-icon-upload"></i>
			  <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
			  <div class="el-upload__tip" slot="tip">
			  	<p>表格示例 :</p>
			  	<p>1.支持Excel文件</p>
				<p>2.请上传有标准行列的一维数据表格。（有合并单元格的数据请处理过后再上传，否则可能出现表头识别有误）</p>
				<p>3.日期字段需包含年月日（如2019/1/1），或年月日时分秒。（如2019/1/1 00:00:00）</p>
				<p style="color:blue;">4.Excel同一sheet只能填一种类型的器材。</p>
				<p style="color:blue;">5.器材的仓库信息和航标信息不能同时存在。有仓库信息会生成入库信息；有航标信息会生成使用信息；如果同时存在会先生成一条入库信息，再生成一条使用信息。</p>
				<el-tabs v-model="uploadActiveName" type="card" class="uploadTabs" >
				    <el-tab-pane label="sheet1" name="first">
					  	<el-table size="mini" :data="uploadTemp1" highlight-current-row  style="width: 100%;" class="mytable" >
							<el-table-column label="器材编码【文本】" prop="sEquip_NO" width="120">
							</el-table-column>
							<el-table-column label="NFC标签 【文本】" prop="sEquip_NfcID" width="120">
							</el-table-column>	
							<el-table-column label="一级仓库【文本】" prop="sEquip_StoreLv1" width="120">
							</el-table-column>
							<el-table-column label="二级仓库【文本】" prop="sEquip_StoreLv2" width="120">
							</el-table-column>	
							<el-table-column label="三级仓库 【文本】" prop="sEquip_StoreLv3" width="120">
							</el-table-column>	
							<el-table-column label="四级仓库【文本】" prop="sEquip_StoreLv4" width="120">
							</el-table-column>	
							<el-table-column label="航标【文本】" prop="sEquip_AidID" width="120">
							</el-table-column>	
							<el-table-column label="生产厂家【文本】" prop="sEquip_Manufacturer" width="120">
							</el-table-column>	
							<el-table-column label="厂方型号【文本】" prop="sEquip_MModel" width="120">
							</el-table-column>
							<el-table-column label="品牌【文本】" prop="sEquip_MBrand" width="120">
							</el-table-column>
							<el-table-column label="到货日期【日期】" prop="dEquip_ArrivalDate" width="120">
							</el-table-column>
							<el-table-column label="器材类型【文本】" prop="sEquip_Type" width="120">
							</el-table-column>
							<el-table-column label="MMSIX号【文本】" prop="sAis_MMSIX" width="120">
							</el-table-column>
						</el-table>
					</el-tab-pane>
				    <el-tab-pane label="sheet2" name="second">
					  	<el-table size="mini" :data="uploadTemp2" highlight-current-row  style="width: 100%;" class="mytable" >
							<el-table-column label="器材编码【文本】" prop="sEquip_NO" width="120">
							</el-table-column>
							<el-table-column label="NFC标签【文本】" prop="sEquip_NfcID" width="120">
							</el-table-column>	
							<el-table-column label="一级仓库【文本】" prop="sEquip_StoreLv1" width="120">
							</el-table-column>
							<el-table-column label="二级仓库【文本】" prop="sEquip_StoreLv2" width="120">
							</el-table-column>	
							<el-table-column label="三级仓库【文本】" prop="sEquip_StoreLv3" width="120">
							</el-table-column>	
							<el-table-column label="四级仓库【文本】" prop="sEquip_StoreLv4" width="120">
							</el-table-column>	
							<el-table-column label="航标【文本】" prop="sEquip_AidID" width="120">
							</el-table-column>	
							<el-table-column label="生产厂家【文本】" prop="sEquip_Manufacturer" width="120">
							</el-table-column>	
							<el-table-column label="厂方型号【文本】" prop="sEquip_MModel" width="120">
							</el-table-column>
							<el-table-column label="品牌【文本】" prop="sEquip_MBrand" width="120">
							</el-table-column>
							<el-table-column label="到货日期【日期】" prop="dEquip_ArrivalDate" width="120">
							</el-table-column>
							<el-table-column label="器材类型【文本】" prop="sEquip_Type" width="120">
							</el-table-column>
							<el-table-column label="编码【文本】" prop="sRadar_NO" width="120">
							</el-table-column>
							<el-table-column label="波段【文本】" prop="sRadar_Band" width="120">
							</el-table-column>
					</el-tab-pane>
				    <el-tab-pane label="sheet3" name="third">
					  	<el-table size="mini" :data="uploadTemp3" highlight-current-row  style="width: 100%;" class="mytable" >
							<el-table-column label="器材编码【文本】" prop="sEquip_NO" width="120">
							</el-table-column>
							<el-table-column label="NFC标签【文本】" prop="sEquip_NfcID" width="120">
							</el-table-column>	
							<el-table-column label="一级仓库【文本】" prop="sEquip_StoreLv1" width="120">
							</el-table-column>
							<el-table-column label="二级仓库【文本】" prop="sEquip_StoreLv2" width="120">
							</el-table-column>	
							<el-table-column label="三级仓库【文本】" prop="sEquip_StoreLv3" width="120">
							</el-table-column>	
							<el-table-column label="四级仓库【文本】" prop="sEquip_StoreLv4" width="120">
							</el-table-column>	
							<el-table-column label="航标【文本】" prop="sEquip_AidID" width="120">
							</el-table-column>	
							<el-table-column label="生产厂家【文本】" prop="sEquip_Manufacturer" width="120">
							</el-table-column>	
							<el-table-column label="厂方型号【文本】" prop="sEquip_MModel" width="120">
							</el-table-column>
							<el-table-column label="品牌【文本】" prop="sEquip_MBrand" width="120">
							</el-table-column>
							<el-table-column label="到货日期【日期】" prop="dEquip_ArrivalDate" width="120">
							</el-table-column>
							<el-table-column label="器材类型【文本】" prop="sEquip_Type" width="120">
							</el-table-column>
							<el-table-column label="编码【文本】" prop="sBattery_NO" width="120">
							</el-table-column>
							<el-table-column label="种类【文本】" prop="sBattery_Type" width="120">
							</el-table-column>
							<el-table-column label="工作电压（V）【数字】" prop="lBattery_Volt" width="160">
							</el-table-column>
							<el-table-column label="容量（W）【数字】" prop="lBattery_Watt" width="140">
							</el-table-column>
							<el-table-column label="连接方式【文本】" prop="sBattery_Connect" width="120">
							</el-table-column>
					</el-tab-pane>
				</el-tabs>
			  </div>
			</el-upload>
			<div slot="footer" class="dialog-footer">
				<el-button size="mini" @click="importClose">取消</el-button>
			</div>
		</el-dialog>
		
	</section>
  </div>
</body>
  <script src="js/jquery-3.4.1.js" type="text/javascript"></script>
  <script src="js/vue-2.6.10/vue.js" type="text/javascript"></script>
  <script src="js/element-2.4.11/index.js" type="text/javascript"></script>
  <script type="text/javascript" src="js/global.js"></script>
  <script type="text/javascript" src="js/equip.js"></script>
</html>