<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- css -->
  <link rel="stylesheet" href="js/element-2.4.11/theme-chalk/index.css">
  <link rel="stylesheet" href="css/fontawesome5.6.3/css/all.css">
  <link rel="stylesheet" href="css/index.css">
  <style>
  	.el-table__expanded-cell{
  		padding: 20px 0 20px 50px !important;
  	}
  </style>
</head>
<body class="animated fadeIn">
  <div id="app">
  
  	<div v-show="!preloading" class="el-loading-mask" style="background-color: rgba(255,255,255,1);">
	   <div class="el-loading-spinner">
	    <i class="fa fa-spinner fa-pulse"></i>
 	    <p class="el-loading-text">Loading...</p>
	   </div>
    </div>
    
    <section style="padding: 20px;" v-show="preloading">
		<!-- filter -->
		<el-row>
		<el-col :span="24" class="toolbar" style="padding-bottom: 0px;">
			<el-col :span="24">
			<el-tabs value="filter" >
			    <el-tab-pane label="筛选" name="filter" disabled>
			    <el-form size="mini" :inline="true" :model="filters" style="float: right;">
					<el-form-item>
					    <el-select v-model="filters.sStore_Level1" placeholder="一级仓库" @change="handleFiltersLV1Options(filters.sStore_Level1)">
						    <el-option
						      v-for="item in filtersLv1Options"
						      :key="item.sStoreType_ID"
						      :label="item.sStoreType_Name"
						      :value="item.sStoreType_ID">
						    </el-option>
					    </el-select>
					</el-form-item>
					<el-form-item>
					    <el-select v-model="filters.sStore_Level2" placeholder="二级仓库" @change="handleFiltersLV2Options(filters.sStore_Level2)">
						    <el-option
						      v-for="item in filtersLv2Options"
						      :key="item.sStore_ID"
						      :label="item.sStore_Name"
						      :value="item.sStore_ID">
						    </el-option>
					    </el-select>
					</el-form-item>
					<el-form-item>
					    <el-select v-model="filters.sStore_Level3" placeholder="三级仓库" @change="handleFiltersLV3Options(filters.sStore_Level3)">
						    <el-option
						      v-for="item in filtersLv3Options"
						      :key="item.sStore_ID"
						      :label="item.sStore_Name"
						      :value="item.sStore_ID">
						    </el-option>
					    </el-select>
					</el-form-item>
					<el-form-item>
					    <el-select v-model="filters.sStore_Level4" placeholder="四级仓库">
						    <el-option
						      v-for="item in filtersLv4Options"
						      :key="item.sStore_ID"
						      :label="item.sStore_Name"
						      :value="item.sStore_ID">
						    </el-option>
					    </el-select>
					</el-form-item>
					<el-form-item>
						<el-button type="primary" title="查询" @click="query" icon="fa fa-search"></el-button>
						<el-button @click="reset"  title="重置" icon="fas fa-redo"></el-button>
						&nbsp;&nbsp;&nbsp;&nbsp;
						<el-button type="primary" title="导入" @click="getImport" icon="fas fa-file-import" ref="import" auth="sys:store:import" v-show="hasAuth('import')"></el-button>
						<el-button type="primary" title="导出" @click="getExcel" icon="fas fa-file-export" ref="export" auth="sys:store:export" v-show="hasAuth('export')"></el-button>
						&nbsp;&nbsp;&nbsp;&nbsp;
						<el-button type="primary" title="新增" @click="handleAdd" icon="fas fa-plus" ref="add" auth="sys:store:add" v-show="hasAuth('add')"></el-button>
					</el-form-item>
				</el-form>
			    </el-tab-pane>
		    </el-tabs>
				
			</el-col>
		</el-col>
		</el-row>
		
	    <el-tabs v-model="activeTab" >
		    <el-tab-pane label="结果" name="table" disabled ref="query" auth="sys:store:query" v-show="hasAuth('query')">
				<!-- list -->
				<el-table size="mini" :data="list" highlight-current-row border v-loading="listLoading" @selection-change="selsChange" style="width: 100%;" class="mytable" row-key="sStore_ID" :expand-row-keys="expands1" >
					<!-- 一级仓库  -->
					<el-table-column type="expand" label="一级">
						<template slot-scope="props">
							<!-- 二级仓库  -->
							<el-table size="mini" :data="props.row.children" highlight-current-row border v-loading="listLoading" style="width: 100%;" class="mytable" row-key="sStore_ID" :expand-row-keys="expands2" >
								<el-table-column type="expand" label="二级">
									<template slot-scope="props">
										<!-- 三级仓库  -->
										<el-table size="mini" :data="props.row.children" highlight-current-row border v-loading="listLoading" style="width: 100%;" class="mytable" row-key="sStore_ID" :expand-row-keys="expands3" >
											<el-table-column type="expand" label="三级">
												<template slot-scope="props">
													<!-- 四级仓库  -->
													<el-table size="mini" :data="props.row.children" highlight-current-row border v-loading="listLoading" style="width: 100%;" class="mytable" row-key="sStore_ID" :expand-row-keys="expands4" >
														<el-table-column label="ID" prop="sStore_ID">
														</el-table-column>
														<el-table-column label="仓库名称" prop="sStore_Name">
														</el-table-column>
														<!-- <el-table-column label="仓库预警值" prop="lStore_Limit" >
														</el-table-column> -->
														<el-table-column label="操作" width="100">
															<!-- <template scope="scope">
																<el-button size="mini" @click="handleEdit(scope.$index, scope.row, 4)" ref="edit" auth="sys:store:update" v-show="hasAuth('edit')">编辑</el-button>
																<el-button size="mini" type="danger" @click="handleDel(scope.$index, scope.row, 4)" ref="delete" auth="sys:store:delete" v-show="hasAuth('delete')">删除</el-button>
															</template> -->
															<template scope="scope">
																<el-dropdown size="mini">
																  <el-button type="primary" size="mini">
																   	<i class="fas fa-cog"></i>
																  </el-button>
																  <el-dropdown-menu slot="dropdown">
																    <el-dropdown-item @click.native="handleEdit(scope.$index, scope.row, 4)" ref="edit" auth="sys:store:update" v-show="hasAuth('edit')">
																    	<i class="fas fa-edit"></i>&nbsp;编辑
																    </el-dropdown-item>
																    <el-dropdown-item @click.native="handleLimit(scope.$index, scope.row, 4)" ref="limit" auth="sys:store:limit" v-show="hasAuth('limit')">
																    	<i class="fas fa-cog"></i>&nbsp;库存预警
																    </el-dropdown-item>
																    <el-dropdown-item @click.native="handleDel(scope.$index, scope.row, 4)" divided style="color: #f56c6c;" ref="delete" auth="sys:store:delete" v-show="hasAuth('delete')">
																    	<i class="fas fa-trash-alt"></i>&nbsp;删除
																    </el-dropdown-item>
																  </el-dropdown-menu>
																</el-dropdown>
															</template>
														</el-table-column>
													</el-table>
												</template>
											</el-table-column>
											<el-table-column label="ID" prop="sStore_ID">
											</el-table-column>
											<el-table-column label="仓库名称" prop="sStore_Name">
											</el-table-column>
											<!-- <el-table-column label="仓库预警值" prop="lStore_Limit" >
											</el-table-column> -->
											<el-table-column label="操作" width="100">
												<!-- <template scope="scope">
													<el-button size="mini" @click="handleEdit(scope.$index, scope.row, 3)" ref="edit" auth="sys:store:update" v-show="hasAuth('edit')">编辑</el-button>
													<el-button size="mini" type="danger" @click="handleDel(scope.$index, scope.row, 3)" ref="delete" auth="sys:store:delete" v-show="hasAuth('delete')">删除</el-button>
												</template> -->
												<template scope="scope">
													<el-dropdown size="mini">
													  <el-button type="primary" size="mini">
													   	<i class="fas fa-cog"></i>
													  </el-button>
													  <el-dropdown-menu slot="dropdown">
													    <el-dropdown-item @click.native="handleEdit(scope.$index, scope.row, 3)" ref="edit" auth="sys:store:update" v-show="hasAuth('edit')">
													    	<i class="fas fa-edit"></i>&nbsp;编辑
													    </el-dropdown-item>
													    <el-dropdown-item @click.native="handleLimit(scope.$index, scope.row, 3)" ref="limit" auth="sys:store:limit" v-show="hasAuth('limit')">
													    	<i class="fas fa-cog"></i>&nbsp;库存预警
													    </el-dropdown-item>
													    <el-dropdown-item @click.native="handleDel(scope.$index, scope.row, 3)" divided style="color: #f56c6c;" ref="delete" auth="sys:store:delete" v-show="hasAuth('delete')">
													    	<i class="fas fa-trash-alt"></i>&nbsp;删除
													    </el-dropdown-item>
													  </el-dropdown-menu>
													</el-dropdown>
												</template>
											</el-table-column>
										</el-table>
									</template>
								</el-table-column>
								<el-table-column label="ID" prop="sStore_ID">
								</el-table-column>
								<el-table-column label="仓库名称" prop="sStore_Name">
								</el-table-column>
								<!-- <el-table-column label="仓库预警值" prop="lStore_Limit" >
								</el-table-column> -->
								<el-table-column label="操作" width="100">
									<!-- <template scope="scope">
										<el-button size="mini" @click="handleEdit(scope.$index, scope.row, 2)" ref="edit" auth="sys:store:update" v-show="hasAuth('edit')">编辑</el-button>
										<el-button size="mini" type="danger" @click="handleDel(scope.$index, scope.row, 2)" ref="delete" auth="sys:store:delete" v-show="hasAuth('delete')">删除</el-button>
									</template> -->
									<template scope="scope">
										<el-dropdown size="mini">
										  <el-button type="primary" size="mini">
										   	<i class="fas fa-cog"></i>
										  </el-button>
										  <el-dropdown-menu slot="dropdown">
										    <el-dropdown-item @click.native="handleEdit(scope.$index, scope.row, 2)" ref="edit" auth="sys:store:update" v-show="hasAuth('edit')">
										    	<i class="fas fa-edit"></i>&nbsp;编辑
										    </el-dropdown-item>
										    <el-dropdown-item @click.native="handleLimit(scope.$index, scope.row, 2)" ref="limit" auth="sys:store:limit" v-show="hasAuth('limit')">
										    	<i class="fas fa-cog"></i>&nbsp;库存预警
										    </el-dropdown-item>
										    <el-dropdown-item @click.native="handleDel(scope.$index, scope.row, 2)" divided style="color: #f56c6c;" ref="delete" auth="sys:store:delete" v-show="hasAuth('delete')">
										    	<i class="fas fa-trash-alt"></i>&nbsp;删除
										    </el-dropdown-item>
										  </el-dropdown-menu>
										</el-dropdown>
									</template>
								</el-table-column>
							</el-table>
						</template>
					</el-table-column>
					<el-table-column label="ID" prop="sStoreType_ID" width="120">
					</el-table-column>
					<el-table-column label="仓库名称" prop="sStoreType_Name">
					</el-table-column>
					<el-table-column label="仓库地址" prop="sStoreType_Address">
					</el-table-column>
					<el-table-column label="纬度" prop="lStoreType_Lat" :formatter="latFormatter" >
					</el-table-column>
					<el-table-column label="经度" prop="lStoreType_Lng" :formatter="lngFormatter" >
					</el-table-column>
					<el-table-column label="归属航标站" prop="sStoreType_Station" >
					</el-table-column>
					<!-- <el-table-column label="仓库预警值" prop="lStoreType_Limit" >
					</el-table-column> -->
					<el-table-column label="地图图标" prop="sStoreType_MapIcon" >
						<template scope="scope">
							<div style="width: 45px; height: 45px;" v-for="item in mapIconOptions" v-if="scope.row.sStoreType_MapIcon == item.sDict_NO">
								<img v-if="item.sDict_Picture" :src="'/'+item.sDict_Picture" style="max-width: 100%;max-height: 100%;"/>
							</div>
						</template>
					</el-table-column>
					<el-table-column label="操作" width="100">
						<!-- <template scope="scope">
							<el-button size="mini" @click="handleEdit(scope.$index, scope.row, 1)" ref="edit" auth="sys:store:update" v-show="hasAuth('edit')">编辑</el-button>
							<el-button size="mini" type="danger" @click="handleDel(scope.$index, scope.row, 1)" ref="delete" auth="sys:store:delete" v-show="hasAuth('delete')">删除</el-button>
						</template> -->
						<template scope="scope">
							<el-dropdown size="mini">
							  <el-button type="primary" size="mini">
							   	<i class="fas fa-cog"></i>
							  </el-button>
							  <el-dropdown-menu slot="dropdown">
							    <el-dropdown-item @click.native="handleEdit(scope.$index, scope.row, 1)" ref="edit" auth="sys:store:update" v-show="hasAuth('edit')">
							    	<i class="fas fa-edit"></i>&nbsp;编辑
							    </el-dropdown-item>
							    <el-dropdown-item @click.native="handleLimit(scope.$index, scope.row, 1)" ref="limit" auth="sys:store:limit" v-show="hasAuth('limit')">
							    	<i class="fas fa-cog"></i>&nbsp;库存预警
							    </el-dropdown-item>
							    <el-dropdown-item @click.native="handleDel(scope.$index, scope.row, 1)" divided style="color: #f56c6c;" ref="delete" auth="sys:store:delete" v-show="hasAuth('delete')">
							    	<i class="fas fa-trash-alt"></i>&nbsp;删除
							    </el-dropdown-item>
							  </el-dropdown-menu>
							</el-dropdown>
						</template>
					</el-table-column>
				</el-table>
		
			</el-tab-pane>
		  </el-tabs>
		
		
		<!-- add -->
		<el-dialog title="新增" :visible.sync="addFormVisible" :close-on-click-modal="false">
			<el-form size="mini" :model="addForm" :rules="addFormRules" ref="addForm" label-width="120px">
			  <el-form-item label="仓库级别">
			    <el-select v-model="addForm.level" placeholder="请选择仓库级别"  @change="() => {this.$refs.addForm.clearValidate();}">
			      <el-option label="一级" value="1"></el-option>
			      <el-option label="二级" value="2"></el-option>
			      <el-option label="三级" value="3"></el-option>
			      <el-option label="四级" value="4"></el-option>
			    </el-select>
			  </el-form-item>
				<el-form-item label="仓库名称" prop="name">
					<el-input type="text" v-model="addForm.name"></el-input>
				</el-form-item>
				<template v-if="addForm.level == 1">
					  <el-form-item label="仓库地址" prop="sStoreType_Address">
					    <el-input v-model="addForm.sStoreType_Address"></el-input>
					  </el-form-item>
					  <el-form-item label="纬度">
					    <el-input v-model="addForm.lStoreType_LatDu" style="width:100px;" @keyup.native="handleKeyupLatDu('add')" maxlength=2></el-input>°
					    <el-input v-model="addForm.lStoreType_LatFen" style="width:100px;" @keyup.native="handleKeyupLatFen('add')" maxlength=2></el-input>′
					    <el-input v-model="addForm.lStoreType_LatMiao" style="width:100px;" @keyup.native="handleKeyupLatMiao('add')" maxlength=6></el-input>″ N
					  </el-form-item>
					  <el-form-item label="经度" >
					    <el-input v-model="addForm.lStoreType_LngDu" style="width:100px;" @keyup.native="handleKeyupLngDu('add')" maxlength=3></el-input>°
					    <el-input v-model="addForm.lStoreType_LngFen" style="width:100px;" @keyup.native="handleKeyupLngFen('add')" maxlength=2></el-input>′
					    <el-input v-model="addForm.lStoreType_LngMiao" style="width:100px;" @keyup.native="handleKeyupLngMiao('add')" maxlength=6></el-input>″ E
					  </el-form-item>
					  <el-form-item label="归属航标站" prop="sStoreType_Station">
					    <el-select v-model="addForm.sStoreType_Station" placeholder="请选择归属航标站">
						    <el-option
						      v-for="item in stationOptions"
						      :key="item.sDict_NO"
						      :label="item.sDict_Name"
						      :value="item.sDict_NO">
						    </el-option>
					    </el-select>
					  </el-form-item>
					  <!-- <el-form-item label="仓库预警值" prop="lStoreType_Limit">
					    <el-input v-model="addForm.lStoreType_Limit"></el-input>
					  </el-form-item> -->
					  <el-form-item label="地图图标" prop="sStoreType_MapIcon">
					    <el-select v-model="addForm.sStoreType_MapIcon" placeholder="请选择地图图标">
						    <el-option
						      v-for="item in mapIconOptions"
						      :key="item.sDict_NO"
						      :label="item.sDict_Name"
						      :value="item.sDict_NO">
						    </el-option>
					    </el-select>
					  </el-form-item>
				</template>
				<template v-if="addForm.level >= 2">
					<el-form-item label="仓库一级" prop="sStore_Level1">
						<el-select v-model="addForm.sStore_Level1" placeholder="请选择所属一级仓库" @change="handleLV2Options(addForm.sStore_Level1)">
							<el-option
						      v-for="item in lv1Options"
						      :key="item.sStoreType_ID"
						      :label="item.sStoreType_Name"
						      :value="item.sStoreType_ID">
							</el-option>
						</el-select>
					</el-form-item>
				</template>
				<template v-if="addForm.level >= 3">
					<el-form-item label="仓库二级" prop="sStore_Level2">
						<el-select v-model="addForm.sStore_Level2" placeholder="请选择所属二级仓库" @change="handleLV3Options(addForm.sStore_Level2)">
							<el-option
						      v-for="item in lv2Options"
						      :key="item.sStore_ID"
						      :label="item.sStore_Name"
						      :value="item.sStore_ID">
							</el-option>
						</el-select>
					</el-form-item>
				</template>
				<template v-if="addForm.level >= 4">
					<el-form-item label="仓库三级" prop="sStore_Level3">
						<el-select v-model="addForm.sStore_Level3" placeholder="请选择所属三级仓库">
							<el-option
						      v-for="item in lv3Options"
						      :key="item.sStore_ID"
						      :label="item.sStore_Name"
						      :value="item.sStore_ID">
							</el-option>
						</el-select>
					</el-form-item>
				</template>
				
				<!-- <template v-if="addForm.level >= 2">
					  <el-form-item label="仓库预警值" prop="lStore_Limit">
					    <el-input v-model="addForm.lStore_Limit"></el-input>
					  </el-form-item>
				</template> -->
				
			</el-form>
			<div slot="footer" class="dialog-footer">
				<el-button size="mini" @click="addClose">取消</el-button>
				<el-button size="mini" type="primary" @click="addSubmit" :loading="addLoading">提交</el-button>
			</div>
		</el-dialog>
		
		<!-- edit -->
		<el-dialog title="编辑" :visible.sync="editFormVisible" :close-on-click-modal="false">
			<el-form size="mini" :model="editForm" :rules="editFormRules" ref="editForm" label-width="120px">
				<el-form-item label="仓库级别">
			    <el-select v-model="editForm.level" placeholder="请选仓库级别" disabled @change="() => {this.$refs.editForm.clearValidate();}">
			      <el-option label="一级" value="1"></el-option>
			      <el-option label="二级" value="2"></el-option>
			      <el-option label="三级" value="3"></el-option>
			      <el-option label="四级" value="4"></el-option>
			    </el-select>
			  </el-form-item>
				<el-form-item label="仓库名称" prop="name">
					<el-input type="text" v-model="editForm.name"></el-input>
				</el-form-item>
				<template v-if="editForm.level == 1">
					  <el-form-item label="仓库地址" prop="sStoreType_Address">
					    <el-input v-model="editForm.sStoreType_Address"></el-input>
					  </el-form-item>
					  <el-form-item label="纬度">
					    <el-input v-model="editForm.lStoreType_LatDu" style="width:100px;" @keyup.native="handleKeyupLatDu('edit')" maxlength=2></el-input>°
					    <el-input v-model="editForm.lStoreType_LatFen" style="width:100px;" @keyup.native="handleKeyupLatFen('edit')" maxlength=2></el-input>′
					    <el-input v-model="editForm.lStoreType_LatMiao" style="width:100px;" @keyup.native="handleKeyupLatMiao('edit')" maxlength=6></el-input>″ N
					  </el-form-item>
					  <el-form-item label="经度" >
					    <el-input v-model="editForm.lStoreType_LngDu" style="width:100px;" @keyup.native="handleKeyupLngDu('edit')" maxlength=3></el-input>°
					    <el-input v-model="editForm.lStoreType_LngFen" style="width:100px;" @keyup.native="handleKeyupLngFen('edit')" maxlength=2></el-input>′
					    <el-input v-model="editForm.lStoreType_LngMiao" style="width:100px;" @keyup.native="handleKeyupLngMiao('edit')" maxlength=6></el-input>″ E
					  </el-form-item>
					  <el-form-item label="归属航标站" prop="sStoreType_Station">
					    <el-select v-model="editForm.sStoreType_Station" placeholder="请选择归属航标站">
						    <el-option
						      v-for="item in stationOptions"
						      :key="item.sDict_NO"
						      :label="item.sDict_Name"
						      :value="item.sDict_NO">
						    </el-option>
					    </el-select>
					  </el-form-item>
					  <!-- <el-form-item label="仓库预警值" prop="lStoreType_Limit">
					    <el-input v-model="editForm.lStoreType_Limit"></el-input>
					  </el-form-item> -->
					  <el-form-item label="地图图标" prop="sStoreType_MapIcon">
					    <el-select v-model="editForm.sStoreType_MapIcon" placeholder="请选择地图图标">
						    <el-option
						      v-for="item in mapIconOptions"
						      :key="item.sDict_NO"
						      :label="item.sDict_Name"
						      :value="item.sDict_NO">
						    </el-option>
					    </el-select>
					  </el-form-item>
				</template>
				<template v-if="editForm.level >= 2">
					<el-form-item label="仓库一级" prop="sStore_Level1">
						<el-select v-model="editForm.sStore_Level1" placeholder="请选择所属一级仓库" @change="handleLV2Options(editForm.sStore_Level1)">
							<el-option
						      v-for="item in lv1Options"
						      :key="item.sStoreType_ID"
						      :label="item.sStoreType_Name"
						      :value="item.sStoreType_ID">
							</el-option>
						</el-select>
					</el-form-item>
				</template>
				<template v-if="editForm.level >= 3">
					<el-form-item label="仓库二级" prop="sStore_Level2">
						<el-select v-model="editForm.sStore_Level2" placeholder="请选择所属二级仓库" @change="handleLV3Options(editForm.sStore_Level2)">
							<el-option
						      v-for="item in lv2Options"
						      :key="item.sStore_ID"
						      :label="item.sStore_Name"
						      :value="item.sStore_ID">
							</el-option>
						</el-select>
					</el-form-item>
				</template>
				<template v-if="editForm.level >= 4">
					<el-form-item label="仓库三级" prop="sStore_Level3">
						<el-select v-model="editForm.sStore_Level3" placeholder="请选择所属三级仓库">
							<el-option
						      v-for="item in lv3Options"
						      :key="item.sStore_ID"
						      :label="item.sStore_Name"
						      :value="item.sStore_ID">
							</el-option>
						</el-select>
					</el-form-item>
				</template>
				
				<!-- <template v-if="editForm.level >= 2">
					  <el-form-item label="仓库预警值" prop="lStore_Limit">
					    <el-input v-model="editForm.lStore_Limit"></el-input>
					  </el-form-item>
				</template> -->
			</el-form>
			<div slot="footer" class="dialog-footer">
				<el-button size="mini" @click="editClose">取消</el-button>
				<el-button size="mini" type="primary" @click="editSubmit" :loading="editLoading">提交</el-button>
			</div>
		</el-dialog>
		
		
		<!-- limit -->
		<el-dialog title="库存预警值" :visible.sync="limitFormVisible" :close-on-click-modal="false">
			<el-form size="mini" :model="limitForm" :rules="limitFormRules" ref="limitForm" label-width="120px">
				 <el-form-item
				    v-for="(item, index) in limitForm.data"
				    :label="item.name"
				    :key="index">
				    <el-input v-model="item.value"></el-input>
				  </el-form-item>
			</el-form>
			<div slot="footer" class="dialog-footer">
				<el-button size="mini" @click="limitClose">取消</el-button>
				<el-button size="mini" type="primary" @click="limitSubmit" :loading="limitLoading">提交</el-button>
			</div>
		</el-dialog>
		
		<!-- upload -->
		<el-dialog title="导入" width="80%" :visible.sync="uploadVisible" :close-on-click-modal="false">	
			<el-upload class="upload-demo" drag :show-file-list="false"
				:action="importUrl"
				:on-success="handleImportSuccess">
			  <i class="el-icon-upload"></i>
			  <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
			  <div class="el-upload__tip" slot="tip">
			  	<p>表格示例 :</p>
			  	<p>1.支持Excel文件</p>
				<p>2.请上传有标准行列的一维数据表格。（有合并单元格的数据请处理过后再上传，否则可能出现表头识别有误）</p>
				<p>3.日期字段需包含年月日（如2019/1/1），或年月日时分秒。（如2019/1/1 00:00:00）</p>
				<p style="color:blue;">4.预警值优先级：四级仓库预警值 > 三级仓库预警值 > 二级仓库预警值 > 库存预警值。当四级仓库没有预警值时，会找三级仓库的预警值，依次类推。默认值0。</p>
			  	<el-table size="mini" :data="uploadTemp" highlight-current-row border style="width: 100%;" class="mytable" >
					<el-table-column label="仓库名称【文本】" prop="sStoreType_Name" width="120">
					</el-table-column>
					<el-table-column label="仓库地址【文本】" prop="sStoreType_Address" width="120">
					</el-table-column>
					<el-table-column label="归属航标站【文本】" prop="sStoreType_Station" width="140">
					</el-table-column>		
					<el-table-column label="库存预警值【数字】" prop="lStoreType_Limit" width="140">
					</el-table-column>	
					<el-table-column label="地图图标【文本】" prop="sStoreType_MapIcon" width="120">
					</el-table-column>	
					<el-table-column label="纬度【文本】" prop="lStoreType_Lat" width="100">
					</el-table-column>	
					<el-table-column label="经度【文本】" prop="lStoreType_Lng" width="100">
					</el-table-column>
					<el-table-column label="二级仓库【文本】" prop="sStoreType_Lv2" width="120">
					</el-table-column>	
					<el-table-column label="二级仓库预警值【数字】" prop="sStoreType_Limit2" width="160">
					</el-table-column>	
					<el-table-column label="三级仓库【文本】" prop="sStoreType_Lv3" width="120">
					</el-table-column>	
					<el-table-column label="三级仓库预警值【数字】" prop="sStoreType_Limit3" width="160">
					</el-table-column>	
					<el-table-column label="四级仓库【文本】" prop="sStoreType_Lv4" width="120">
					</el-table-column>	
					<el-table-column label="四级仓库预警值【数字】" prop="sStoreType_Limit4" width="160">
					</el-table-column>	
				</el-table>
			  </div>
			</el-upload>
			<div slot="footer" class="dialog-footer">
				<el-button size="mini" @click="importClose">取消</el-button>
			</div>
		</el-dialog>
		
	</section>
  </div>
</body>
  <script src="js/jquery-3.4.1.js" type="text/javascript"></script>
  <script src="js/vue-2.6.10/vue.js" type="text/javascript"></script>
  <script src="js/element-2.4.11/index.js" type="text/javascript"></script>
  <script type="text/javascript" src="js/global.js"></script>
  <script type="text/javascript" src="js/store.js"></script>
</html>