<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- css -->
  <link rel="stylesheet" href="js/element-2.4.11/theme-chalk/index.css">
  <link rel="stylesheet" href="css/fontawesome5.6.3/css/all.css">
  <link rel="stylesheet" href="css/index.css">
  <style>
  .text {
    font-size: 14px;
  }

  .item {
    margin-bottom: 18px;
  }

  .clearfix:before,
  .clearfix:after {
    display: table;
    content: "";
  }
  .clearfix:after {
    clear: both
  }

  .box-card {
    width: 480px;
	    display: inline-block;
  }
</style>
</head>
<body class="animated fadeIn">
  <div id="app">
  
  	<div v-show="!preloading" class="el-loading-mask" style="background-color: rgba(255,255,255,1);">
	   <div class="el-loading-spinner">
	    <i class="fa fa-spinner fa-pulse"></i>
 	    <p class="el-loading-text">Loading...</p>
	   </div>
    </div>
    
    <section style="padding: 20px;" v-show="preloading">
		
	    <el-tabs v-model="activeTab" >
		    <el-tab-pane label="结果" name="table" disabled  ref="query" auth="sys:sys:query" v-show="hasAuth('query')">
				<el-card class="box-card">
				  <div slot="header" class="clearfix">
				    <span>地图设置</span>
				    <el-button style="float: right; padding: 3px 0" type="text" @click="editSubmit">保存</el-button>
				  </div>
				  <el-form size="mini" :model="editForm" ref="editForm" label-width="120px">
					  <el-form-item prop="sSys_MapService">
					  	<span slot="label">
	                        <el-tooltip v-if="tips.forms.sSys_MapService" :effect="tips.effect" :placement="tips.forms.sSys_MapService.placement">
	                            <div slot="content" v-html="tips.forms.sSys_MapService.content"></div>
	                            <span>地图地址<i class="el-icon-question"></i></span>
	                        </el-tooltip>
	                        <span v-else>地图地址</span>
	                    </span>
					    <el-input v-model="editForm.sSys_MapService"></el-input>
					  </el-form-item>
					  <el-form-item prop="lSys_MapLng">
					  	<span slot="label">
	                        <el-tooltip v-if="tips.forms.lSys_MapLng" :effect="tips.effect" :placement="tips.forms.lSys_MapLng.placement">
	                            <div slot="content" v-html="tips.forms.lSys_MapLng.content"></div>
	                            <span>默认经度(°)<i class="el-icon-question"></i></span>
	                        </el-tooltip>
	                        <span v-else>默认经度(°)</span>
	                    </span>
					    <el-input v-model="editForm.lSys_MapLng"></el-input>
					  </el-form-item>
					  <el-form-item prop="lSys_MapLat">
					  	<span slot="label">
	                        <el-tooltip v-if="tips.forms.lSys_MapLat" :effect="tips.effect" :placement="tips.forms.lSys_MapLat.placement">
	                            <div slot="content" v-html="tips.forms.lSys_MapLat.content"></div>
	                            <span>默认纬度(°)<i class="el-icon-question"></i></span>
	                        </el-tooltip>
	                        <span v-else>默认纬度(°)</span>
	                    </span>
					    <el-input v-model="editForm.lSys_MapLat"></el-input>
					  </el-form-item>
					  
					  <el-form-item prop="lSys_MapLevel">
					  	<span slot="label">
	                        <el-tooltip v-if="tips.forms.lSys_MapLevel" :effect="tips.effect" :placement="tips.forms.lSys_MapLevel.placement">
	                            <div slot="content" v-html="tips.forms.lSys_MapLevel.content"></div>
	                            <span>缩放级别<i class="el-icon-question"></i></span>
	                        </el-tooltip>
	                        <span v-else>缩放级别</span>
	                    </span>
					    <el-slider input-size="mini" v-model="editForm.lSys_MapLevel" show-input :min="0" :max="23" :step="1"> </el-slider>
					  </el-form-item>
					  <el-form-item prop="lSys_MapIconWidth">
					  	<span slot="label">
	                        <el-tooltip v-if="tips.forms.lSys_MapIconWidth" :effect="tips.effect" :placement="tips.forms.lSys_MapIconWidth.placement">
	                            <div slot="content" v-html="tips.forms.lSys_MapIconWidth.content"></div>
	                            <span>图标宽度(px)<i class="el-icon-question"></i></span>
	                        </el-tooltip>
	                        <span v-else>图标宽度(px)</span>
	                    </span>
					    <el-input v-model="editForm.lSys_MapIconWidth"></el-input>
					  </el-form-item>
					  <el-form-item prop="lSys_MapIconHeight">
					  	<span slot="label">
	                        <el-tooltip v-if="tips.forms.lSys_MapIconHeight" :effect="tips.effect" :placement="tips.forms.lSys_MapIconHeight.placement">
	                            <div slot="content" v-html="tips.forms.lSys_MapIconHeight.content"></div>
	                            <span>图标高度(px)<i class="el-icon-question"></i></span>
	                        </el-tooltip>
	                        <span v-else>图标高度(px)</span>
	                    </span>
					    <el-input v-model="editForm.lSys_MapIconHeight"></el-input>
					  </el-form-item>
				  </el-form>
				</el-card>
				
				<!-- <el-card class="box-card">
				  <div slot="header" class="clearfix">
				    <span>卡片名称</span>
				    <el-button style="float: right; padding: 3px 0" type="text">操作按钮</el-button>
				  </div>
				  <el-form size="mini" :model="editForm" ref="editForm" label-width="120px">
					  <el-form-item label="地图地址" prop="sSys_MapService">
					    <el-input v-model="editForm.sSys_MapService" readonly></el-input>
					  </el-form-item>
					  <el-form-item label="默认经度" prop="sSys_MapLng">
					    <el-input v-model="editForm.sSys_MapLng" readonly></el-input>
					  </el-form-item>
					  <el-form-item label="默认纬度" prop="sSys_MapLat">
					    <el-input v-model="editForm.sSys_MapLat " readonly></el-input>
					  </el-form-item>
				  </el-form>
				</el-card> -->
				
			</el-tab-pane>
		  </el-tabs>
		
		
	</section>
  </div>
</body>
  <script src="js/jquery-3.4.1.js" type="text/javascript"></script>
  <script src="js/vue-2.6.10/vue.js" type="text/javascript"></script>
  <script src="js/element-2.4.11/index.js" type="text/javascript"></script>
  <script type="text/javascript" src="js/global.js"></script>
  <script type="text/javascript" src="js/sys.js"></script>
</html>