<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- css -->
  <link rel="stylesheet" href="js/element-2.4.11/theme-chalk/index.css">
  <link rel="stylesheet" href="css/fontawesome5.6.3/css/all.css">
  <link rel="stylesheet" href="css/index.css">
  <style>
  
	  .clearfix:before,
	  .clearfix:after {
	    display: table;
	    content: "";
	  }
	  .clearfix:after {
	    clear: both
	  }
	
	  .box-card {
	    width: 500px;
	    display: inline-block;
	  }
	  .box-card.large {
	    width: 100%;
	  }
	  .box-card.small {
	    display: none;
	  }
	  .el-breadcrumb {
	    height: 20px;
	  }
	  .el-checkbox.is-bordered {
		margin-left: 0px !important;
		margin-right: 10px !important;
	  }
</style>
</head>
<body class="animated fadeIn">
  <div id="app">
  
  	<div v-show="!preloading" class="el-loading-mask" style="background-color: rgba(255,255,255,1);">
	   <div class="el-loading-spinner">
	    <i class="fa fa-spinner fa-pulse"></i>
 	    <p class="el-loading-text">Loading...</p>
	   </div>
    </div>
    
    <section style="padding: 20px;" v-show="preloading">
		<!-- filter -->
		<el-row>
		<el-col :span="24" class="toolbar" style="padding-bottom: 0px;">
			<el-col :span="24">
			<el-tabs value="filter" >
			    <el-tab-pane label="筛选" name="filter" disabled>
			    <el-form size="mini" :inline="true" :model="filters" style="float: right;">
					<el-form-item>
						  <el-input v-model="filters.sUser_UserName" placeholder="请输入用户名" clearable></el-input>
					</el-form-item>
					<el-form-item>
						  <el-input v-model="filters.sUser_Nick" placeholder="请输入用户昵称" clearable></el-input>
					</el-form-item>
					<el-form-item>
					    <el-select v-model="filters.sUser_GroupID" placeholder="请选择用户组">
						    <el-option
						      v-for="item in groupOptions"
						      :key="item.value"
						      :label="item.name"
						      :value="item.value">
						    </el-option>
					    </el-select>
					</el-form-item>
					<el-form-item>
						<el-button type="primary" title="查询" @click="query" icon="fa fa-search"></el-button>
						<el-button @click="reset"  title="重置" icon="fas fa-redo"></el-button>
						&nbsp;&nbsp;&nbsp;&nbsp;
						<el-button type="primary" title="导入" @click="getImport" icon="fas fa-file-import" ref="import" auth="sys:user:import" v-show="hasAuth('import')"></el-button>
						<el-button type="primary" title="导出" @click="getExcel" icon="fas fa-file-export" ref="export" auth="sys:user:export" v-show="hasAuth('export')"></el-button>
						&nbsp;&nbsp;&nbsp;&nbsp;
						<el-button type="primary" title="新增" @click="handleAdd" icon="fas fa-plus" ref="add" auth="sys:user:add" v-show="hasAuth('add')"></el-button>
					</el-form-item>
				</el-form>
			    </el-tab-pane>
		    </el-tabs>
				
			</el-col>
		</el-col>
		</el-row>
		
	    <el-tabs v-model="activeTab" >
		    <el-tab-pane label="结果" name="table" disabled ref="query" auth="sys:user:query" v-show="hasAuth('query')">
				<!-- list -->
				<el-table size="mini" :data="list" highlight-current-row border v-loading="listLoading" @selection-change="selsChange" style="width: 100%;" class="mytable" >
					<el-table-column label="ID" prop="sUser_ID" width="120" fixed="left">
					</el-table-column>
					<el-table-column label="用户名" prop="sUser_UserName" fixed="left">
					</el-table-column>
					<el-table-column label="昵称" prop="sUser_Nick" fixed="left">
					</el-table-column>
					<el-table-column label="密码" prop="sUser_PassWord" width="230">
					</el-table-column>
					<el-table-column label="用户组" prop="sUser_GroupID" :formatter="groupFormatter">
					</el-table-column>
					<el-table-column label="状态" prop="lUser_StatusFlag" :formatter="(r,c) => {return r.lUser_StatusFlag ? '启用' : '禁用';}">
					</el-table-column>
					<el-table-column label="QQ" prop="sUser_QQ">
					</el-table-column>
					<el-table-column label="邮箱" prop="sUser_Email">
					</el-table-column>
					<el-table-column label="电话" prop="sUser_Phone">
					</el-table-column>
					<el-table-column label="第三方ID" prop="sUser_ThirdID">
					</el-table-column>
					<el-table-column label="创建日期" prop="dUser_CreateDate" :formatter="(r,c) => {return formatDate(r.dUser_CreateDate);}">
					</el-table-column>
					<el-table-column fixed="right" label="操作" width="100" align="center">
						<template scope="scope">
							<el-dropdown size="mini">
							  <el-button type="primary" size="mini">
							   	<i class="fas fa-cog"></i>
							  </el-button>
							  <el-dropdown-menu slot="dropdown">
							    <el-dropdown-item @click.native="handleEdit(scope.$index, scope.row)" ref="edit" auth="sys:user:update" v-show="hasAuth('edit')">
							    	<i class="fas fa-edit"></i>&nbsp;编辑
							    </el-dropdown-item>
							    <el-dropdown-item @click.native="handleResetPWD(scope.$index, scope.row)" divided  ref="resetPwd" auth="sys:user:resetPwd" v-show="hasAuth('resetPwd')">
							    	<i class="fas fa-key"></i>&nbsp;重置密码
							    </el-dropdown-item>
							    <el-dropdown-item @click.native="handleAuth(scope.$index, scope.row)" ref="auth" auth="sys:user:auth" v-show="hasAuth('auth')">
							    	<i class="fas fa-user-lock"></i>&nbsp;授权
							    </el-dropdown-item>
							    <el-dropdown-item @click.native="handleAid(scope.$index, scope.row)" ref="aid" auth="sys:user:aid" v-show="hasAuth('aid')">
							    	<i class="fas fa-map-pin"></i>&nbsp;分配航标
							    </el-dropdown-item>
							    <el-dropdown-item @click.native="handleStore(scope.$index, scope.row)" ref="store" auth="sys:user:store" v-show="hasAuth('store')">
							    	<i class="fas fa-map-pin"></i>&nbsp;分配仓库
							    </el-dropdown-item>
							    <el-dropdown-item @click.native="handleDel(scope.$index, scope.row)" divided style="color: #f56c6c;" ref="delete" auth="sys:user:delete" v-show="hasAuth('delete')">
							    	<i class="fas fa-trash-alt"></i>&nbsp;删除
							    </el-dropdown-item>
							  </el-dropdown-menu>
							</el-dropdown>
						</template>
					</el-table-column>
				</el-table>
		
				<!-- page tool -->
				<el-col :span="24" class="toolbar">
					<!-- <el-button type="danger" @click="batchRemove" :disabled="this.sels.length===0">Batch remove</el-button> -->
					<el-pagination layout="total, sizes, prev, pager, next, jumper" @size-change="handleSizeChange" @current-change="handleCurrentChange" :page-sizes="[10, 20, 50, 100]" :page-size="rows" :total="total" style="float:right;">
					</el-pagination>
				</el-col>
			</el-tab-pane>
		  </el-tabs>
		
		
		<!-- add -->
		<el-dialog title="新增" :visible.sync="addFormVisible" :close-on-click-modal="false">	
			<el-form size="mini" :model="addForm" :rules="addFormRules" ref="addForm" label-width="120px">
			  <el-form-item label="用户名" prop="sUser_UserName">
			    <el-input v-model="addForm.sUser_UserName"></el-input>
			  </el-form-item>
			  <el-form-item label="密码" prop="sUser_PassWord">
			    <el-input type="password" v-model="addForm.sUser_PassWord"></el-input>
			  </el-form-item>
			  <el-form-item label="确认密码" prop="sUser_PassWord2">
			    <el-input type="password" v-model="addForm.sUser_PassWord2"></el-input>
			  </el-form-item>
			  <el-form-item label="昵称" prop="sUser_Nick">
			    <el-input v-model="addForm.sUser_Nick"></el-input>
			  </el-form-item>
			  <el-form-item label="所属用户组" prop="sUser_GroupID">
			    <el-select v-model="addForm.sUser_GroupID" placeholder="请选择用户组">
				    <el-option
				      v-for="item in groupOptions"
				      :key="item.value"
				      :label="item.name"
				      :value="item.value">
				    </el-option>
			    </el-select>
			  </el-form-item>
			  <el-form-item label="状态" prop="lUser_StatusFlag">
			     <el-switch v-model="addForm.lUser_StatusFlag" :active-value="1" :inactive-value="0"></el-switch>
			  </el-form-item>
			  <el-form-item label="QQ" prop="sUser_QQ">
			    <el-input v-model="addForm.sUser_QQ"></el-input>
			  </el-form-item>
			  <el-form-item label="邮箱" prop="sUser_Email">
			    <el-input v-model="addForm.sUser_Email"></el-input>
			  </el-form-item>
			  <el-form-item label="电话" prop="sUser_Phone">
			    <el-input v-model="addForm.sUser_Phone"></el-input>
			  </el-form-item>
			  <el-form-item label="第三方ID" prop="sUser_ThirdID">
			    <el-input v-model="addForm.sUser_ThirdID"></el-input>
			  </el-form-item>
			</el-form>
			<div slot="footer" class="dialog-footer">
				<el-button size="mini" @click="addClose">取消</el-button>
				<el-button size="mini" type="primary" @click="addSubmit" :loading="addLoading">提交</el-button>
			</div>
		</el-dialog>
		
		<!-- edit -->
		<el-dialog title="编辑" :visible.sync="editFormVisible" :close-on-click-modal="false">
			<el-form size="mini" :model="editForm" :rules="editFormRules" ref="editForm" label-width="120px">
			  <el-form-item label="用户名" prop="sUser_UserName">
			    <el-input v-model="editForm.sUser_UserName"></el-input>
			  </el-form-item>
			  <el-form-item label="昵称" prop="sUser_Nick">
			    <el-input v-model="editForm.sUser_Nick"></el-input>
			  </el-form-item>
			  <el-form-item label="所属用户组" prop="sUser_GroupID">
			    <el-select v-model="editForm.sUser_GroupID" placeholder="请选择用户组">
				    <el-option
				      v-for="item in groupOptions"
				      :key="item.value"
				      :label="item.name"
				      :value="item.value">
				    </el-option>
			    </el-select>
			  </el-form-item>
			  <el-form-item label="状态" prop="lUser_StatusFlag">
			     <el-switch v-model="editForm.lUser_StatusFlag" :active-value="1" :inactive-value="0"></el-switch>
			  </el-form-item>
			  <el-form-item label="QQ" prop="sUser_QQ">
			    <el-input v-model="editForm.sUser_QQ"></el-input>
			  </el-form-item>
			  <el-form-item label="邮箱" prop="sUser_Email">
			    <el-input v-model="editForm.sUser_Email"></el-input>
			  </el-form-item>
			  <el-form-item label="电话" prop="sUser_Phone">
			    <el-input v-model="editForm.sUser_Phone"></el-input>
			  </el-form-item>
			  <el-form-item label="第三方ID" prop="sUser_ThirdID">
			    <el-input v-model="editForm.sUser_ThirdID"></el-input>
			  </el-form-item>
			</el-form>
			<div slot="footer" class="dialog-footer">
				<el-button size="mini" @click="editClose">取消</el-button>
				<el-button size="mini" type="primary" @click="editSubmit" :loading="editLoading">提交</el-button>
			</div>
		</el-dialog>
		
		<!-- pwd -->
		<el-dialog title="重置密码" :visible.sync="pwdFormVisible" :close-on-click-modal="false">
			<el-form size="mini" :model="pwdForm" :rules="pwdFormRules" ref="pwdForm" label-width="120px">
				<el-form-item label="密码" prop="sUser_PassWord">
					<el-input type="password" v-model="pwdForm.sUser_PassWord"></el-input>
				</el-form-item>
			    <el-form-item label="确认密码" prop="sUser_PassWord2">
			      <el-input type="password" v-model="pwdForm.sUser_PassWord2" placeholder=""></el-input>
			    </el-form-item>
			</el-form>
			<div slot="footer" class="dialog-footer">
				<el-button size="mini" @click="pwdClose">取消</el-button>
				<el-button size="mini" type="primary" @click="pwdSubmit" :loading="pwdLoading">提交</el-button>
			</div>
		</el-dialog>
		
		
		<!-- auth -->
		<el-dialog width="1100px" title="授权" :visible.sync="authFormVisible" :close-on-click-modal="false" >
			
			<el-card class="box-card" style="float: left;" :class="leftClassObject">
			  <div slot="header" class="clearfix">
                <el-tooltip v-if="tips.forms.title" :effect="tips.effect" :placement="tips.forms.title.placement">
                    <div slot="content" v-html="tips.forms.title.content"></div>
                    <span>用户权限<i class="el-icon-question"></i></span>
                </el-tooltip>
                <span v-else>用户权限</span>
			    <el-button style="float: right; padding: 3px 0" type="text" @click="handleChangeWidth">{{userAuthWidthName}}</el-button>
			  </div>
			  <el-form size="mini" label-position="top" :model="authForm" :rules="authFormRules" ref="authForm" label-width="120px">
				  <el-form-item v-for="(menuAuth, index) in menuAuthOptions" :key="index" >
				  	<div class="auth_label" slot="label" style="label">
				  		<el-breadcrumb separator="/">
						  	<el-breadcrumb-item v-for="(item, index2) in menuAuth.parray">{{item}}</el-breadcrumb-item>
				  			{{menuAuth.sMenu_Name}}&nbsp;&nbsp;
					  		<el-checkbox :disabled="menuAuth.disabled" :indeterminate="menuAuth.isIndeterminate" v-model="menuAuth.checkAll" @change="(val) => {handleCheckAllChange(val, menuAuth);}">全选</el-checkbox>
						</el-breadcrumb>
				  	</div>
				    <el-checkbox-group v-model="authForm[menuAuth.sMenu_ID]" @change="(val) => {handleCheckedChange(val, menuAuth);}">
				    	<template v-for="(item, index2) in menuAuth.children">
						    <el-tooltip class="item" effect="dark" :disabled="!item.sMFun_Describe" placement="top">
						    	<div slot="content" v-html="item.sMFun_Describe"></div>
					    		<el-checkbox border :label="item.sMFun_ID" :disabled="menuAuth.disabled ? true : item.lMFun_StatusFlag ? false : true">{{item.sMFun_Name}}</el-checkbox>
			    			</el-tooltip>
				    	</template>
				    </el-checkbox-group>
				  </el-form-item>
				</el-form>
			</el-card>
			
			<el-card class="box-card" style="float: right;" :class="rightClassObject">
			  <div slot="header" class="clearfix">
			    <span>查看用户已拥有的权限，权限来自用户组</span>
			  </div>
			  <el-form size="mini" label-position="top"  label-width="120px">
				  <el-form-item v-for="(menuAuth, index) in groupAuthOptions" :key="index" >
				  	<div slot="label" >
				  		<el-breadcrumb separator="/">
						  	<el-breadcrumb-item v-for="(item, index2) in menuAuth.parray">{{item}}</el-breadcrumb-item>
				  			<!-- {{menuAuth.sMenu_Name}}&nbsp;&nbsp;
					  		<el-checkbox :disabled="menuAuth.disabled" :indeterminate="menuAuth.isIndeterminate" v-model="menuAuth.checkAll" >全选</el-checkbox> -->
						</el-breadcrumb>
				  	</div>
				  	<!-- <div style="margin: 15px 0;"></div> -->
				    <el-checkbox-group v-model="menuAuth.checked" >
				    	<template v-for="(item, index2) in menuAuth.lenItem">
						    <el-tooltip class="item" effect="dark" :disabled="!item.sMFun_Describe" placement="top">
					    		<div slot="content" v-html="item.sMFun_Describe"></div>
					    		<el-checkbox border :label="item.sMFun_ID" :disabled="menuAuth.disabled ">{{item.sMFun_Name}}</el-checkbox>
			    			</el-tooltip>
				    	</template>
				    </el-checkbox-group>
				  </el-form-item>
				</el-form>
			</el-card>
			
			<div class="clearfix"></div>
			<div slot="footer" class="dialog-footer">
				<el-button size="mini" @click="authClose">取消</el-button>
				<el-button size="mini" type="primary" @click="authSubmit" :loading="authLoading">提交</el-button>
			</div>
		</el-dialog>
		
		<!-- aid -->
		<el-dialog title="分配航标" :visible.sync="aidFormVisible" :close-on-click-modal="false" >
			<el-tabs v-model="activeAidName">
			    <el-tab-pane label="按航标" name="1">
					<el-form size="mini" label-position="top" :model="aidForm" :rules="aidFormRules" ref="aidForm">
					  <el-form-item >
					    <!-- <div slot="label" >
					    	<el-form size="mini" :inline="true">
					  			<el-form-item >
					  				<el-checkbox v-model="checked">备选项</el-checkbox>
					  			</el-form-item>
					  			<el-form-item >
					  				<el-input
									    placeholder="请输入内容"
									    prefix-icon="el-icon-search"
									    v-model="input21">
									</el-input>
					  			</el-form-item>
					  		</el-form>
					  	</div> -->
					    <el-checkbox-group v-model="aidForm.aid" >
					    	<template v-for="(item, index) in aidOptions">
							    <el-checkbox border :label="item.sAid_ID" >{{item.sAid_Name}}</el-checkbox>
					    	</template>
					    </el-checkbox-group>
					  </el-form-item>
					</el-form>
			    </el-tab-pane>
			    <el-tab-pane name="2">
			    	<div slot="label">
			    		<el-tooltip v-if="tips.forms.station" :effect="tips.effect" :placement="tips.forms.station.placement">
		                    <div slot="content" v-html="tips.forms.station.content"></div>
		                    <span>按航标站<i class="el-icon-question"></i></span>
		                </el-tooltip>
                		<span v-else>按航标站</span>
			    	</div>
					<el-form size="mini" label-position="top" :model="stationForm" :rules="stationFormRules" ref="stationForm">
					  <el-form-item >
					    <el-checkbox-group v-model="stationForm.station" >
					    	<template v-for="(item, index) in stationOptions">
							    <el-checkbox border :label="item.sDict_NO" >{{item.sDict_Name}}</el-checkbox>
					    	</template>
					    </el-checkbox-group>
					  </el-form-item>
					</el-form>
			    </el-tab-pane>
		  	</el-tabs>
			<div slot="footer" class="dialog-footer" v-if="activeAidName == '1'">
				<el-button size="mini" @click="aidClose">关闭</el-button>
				<el-button size="mini" type="primary" @click="aidSubmit" :loading="aidLoading">提交</el-button>
			</div>
			<div slot="footer" class="dialog-footer" v-if="activeAidName == '2'">
				<el-button size="mini" @click="stationClose">关闭</el-button>
				<el-button size="mini" type="primary" @click="stationSubmit" :loading="stationLoading">提交</el-button>
			</div>
		</el-dialog>
		
		<!-- store -->
		<el-dialog title="分配仓库" :visible.sync="storeFormVisible" :close-on-click-modal="false">
			<el-form size="mini" :model="storeForm" :rules="storeFormRules" ref="storeForm" label-width="120px">
				<el-form-item prop="store">
					<el-tree
					  :data="storeTree"
					  show-checkbox
					  node-key="sStore_ID"
					  ref="storeTree"
					  :default-checked-keys="storeForm.store"
					  :props="defaultProps">
					</el-tree>
				</el-form-item>
			</el-form>
			<div slot="footer" class="dialog-footer">
				<el-button size="mini" @click="storeClose">取消</el-button>
				<el-button size="mini" type="primary" @click="storeSubmit" :loading="storeLoading">提交</el-button>
			</div>
		</el-dialog>
		
		<!-- upload -->
		<el-dialog title="导入" width="80%" :visible.sync="uploadVisible" :close-on-click-modal="false">	
			<el-upload  class="upload-demo" drag :show-file-list="false" 
				:action="importUrl"
				:on-success="handleImportSuccess">
			  <i class="el-icon-upload"></i>
			  <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
			  <div class="el-upload__tip" slot="tip">
			  	<p>表格示例 :</p>
			  	<p>1.支持Excel文件</p>
				<p>2.请上传有标准行列的一维数据表格。（有合并单元格的数据请处理过后再上传，否则可能出现表头识别有误）</p>
				<p>3.日期字段需包含年月日（如2019/1/1），或年月日时分秒。（如2019/1/1 00:00:00）</p>
				<el-row style="margin-bottom: 10px;">
					<el-col class="tipsCol tipColBorder" :span="6">第1列</el-col>
					<el-col class="tipsCol tipColBorder" :span="6">第2列</el-col>
					<el-col class="tipsCol tipColBorder" :span="6">第3列</el-col>
					<el-col class="tipsCol tipColBorder" :span="6">第4列</el-col>
				</el-row>
			  	<el-table size="mini" :data="uploadTemp" highlight-current-row border style="width: 100%;" class="mytable" >
					<el-table-column label="用户名	【文本】" prop="sUser_UserName">
					</el-table-column>
					<el-table-column label="密码（md5）【文本】" prop="sUser_PassWord">
					</el-table-column>
					<el-table-column label="用户昵称【文本】" prop="sUser_Nick">
					</el-table-column>
					<el-table-column label="用户组【文本】" prop="sUser_GroupID">
					</el-table-column>
				</el-table>
				
			  </div>
			</el-upload>
			<div slot="footer" class="dialog-footer">
				<el-button size="mini" @click="importClose">取消</el-button>
			</div>
		</el-dialog>
		
	</section>
  </div>
</body>
  <script src="js/jquery-3.4.1.js" type="text/javascript"></script>
  <script src="js/vue-2.6.10/vue.js" type="text/javascript"></script>
  <script src="js/element-2.4.11/index.js" type="text/javascript"></script>
  <script src="js/browser.min.js" type="text/javascript"></script>
  <script type="text/javascript" src="js/global.js"></script>
  <script type="text/babel" src="js/user.js"></script>
</html>